In [1]:
#import essential libraries 
import pandas as pd
import numpy as np
import dateutil.parser as parser
import json as json

In [2]:
data = pd.read_excel("/Users/cha801/Documents/UpdateLists/Excels/northernTerritoryConservationStatusList-Plants.xlsx")

In [3]:
#rename the DwC terms
data = data.rename(columns=
{
#'Scientific name':'scientificName',
'Plant family':'family',
'Status':'status',
#'Animal Group':'taxonRemarks'
})

In [4]:
data

,family,Scientific name,status
0,Hymenophyllaceae,Abrodictyum obscurum,Endangered
1,Fabaceae,Acacia equisetifolia,Critically endangered
2,Fabaceae,Acacia latzii \nLatz's wattle,Vulnerable
3,Fabaceae,Acacia peuce\nWaddy-wood,Endangered
4,Fabaceae,Acacia pickardii\nBirds nest wattle,Listed nationally but not under NT legislation
...,...,...,...
79,Araceae,Typhonium taylori,Endangered
80,Lentibulariaceae,Utricularia dunstaniae,Vulnerable
81,Lentibulariaceae,Utricularia singeriana,Vulnerable
82,Annonaceae,Xylopia monosperma,Endangered
83,Orchidaceae,Zeuxine oblonga,Vulnerable

In [5]:
data['sourceStatus'] = data['status'].copy()

In [6]:
data['status'] = data['status'].str.split('(').str[0]

In [7]:
data['vernacularName'] = data['Scientific name'].str.split('\n').str[1]

In [8]:
data['scientificName'] = data['Scientific name'].str.split('\n').str[0]

In [9]:
data = data.drop(['Scientific name'], axis=1)

In [10]:
#data.to_csv('/northernTerritoryConservationStatusList-Plants.csv',index = False,encoding='utf-8-sig')

In [11]:
data1 = pd.read_csv("/northernTerritoryConservationStatusList-Animals.csv")

In [12]:
print ("data is ",data.shape)
print ("data 1 is ",data1.shape)

data is  (84, 5)
data 1 is  (141, 5)

In [13]:
result = pd.concat([data, data1])

In [14]:
print ("data 1 is ",result.shape)

data 1 is  (225, 6)

In [15]:
result

,family,status,sourceStatus,vernacularName,scientificName,taxonRemarks
0,Hymenophyllaceae,Endangered,Endangered,NaN,Abrodictyum obscurum,NaN
1,Fabaceae,Critically endangered,Critically endangered,NaN,Acacia equisetifolia,NaN
2,Fabaceae,Vulnerable,Vulnerable,Latz's wattle,Acacia latzii,NaN
3,Fabaceae,Endangered,Endangered,Waddy-wood,Acacia peuce,NaN
4,Fabaceae,Listed nationally but not under NT legislation,Listed nationally but not under NT legislation,Birds nest wattle,Acacia pickardii,NaN
...,...,...,...,...,...,...
136,NaN,Listed nationally but not under NT legislation,Listed nationally but not under NT legislation,Whale shark,Rhincodon typus,Fish
137,NaN,Vulnerable,Vulnerable,White-throated grasswren,Amytornis woodwardi,Bird
138,NaN,Endangered,Endangered,Yellow chat (Alligator Rivers),Epthianura crocea tunneyi,Bird
139,NaN,Vulnerable,Vulnerable,Yellow-snouted ground gecko,Lucasium occultum,Reptile
140,NaN,Vulnerable,Vulnerable,Yellow-spotted monitor,Varanus panoptes,Reptile

In [17]:
result.to_csv('/northernTerritoryConservationStatusList.csv',index = False,encoding='utf-8-sig')