# SA Conservation and Sensitive Lists
Import fauna and vascular plants taxonomies from BDBSA and export lists for use in the ALA

## List Identifiers
* Conservation list: __[dr653](https://lists.ala.org.au/speciesListItem/list/dr653)__
* Sensitive list: __[dr884](https://lists.ala.org.au/speciesListItem/list/dr884)__ (in test  __[dr18706](https://lists-test.ala.org.au/speciesListItem/list/dr18706)__)
* Collection: __[dr653](https://collections.ala.org.au/public/show/dr653)__ __[dr884](https://collections.ala.org.au/public/show/dr884)__

### Source Data
* [Fauna](https://data.environment.sa.gov.au/Content/Publications/fauna-bdbsa-taxonomy.xlsx)
* [Flora](https://data.environment.sa.gov.au/Content/Publications/vascular-plants-bdbsa-taxonomy.xlsx)

**Metadata Description**

South Australia Classification codes under the National Parks and Wildlife Act 1972: Endangered or extinct Vulnerable Rare Learn more about the classifications used by the Department of Environment and Natural Resources. Information on currently accepted flora and fauna taxonomy in South Australia including conservation status information. The following resources provide machine readable data on currently accepted flora and fauna taxonomy: vascular plants taxonomy (918kb xls) used in conjunction with vascular plants metadata (39kb pdf) vertebrate taxonomy (244kb xls) used in conjunction with vertebrates metadata (26kb pdf).


**Metadata URL**

* Fauna: https://www.environment.sa.gov.au/topics/science/information-and-data/census-of-sa-vertebrates
* Flora: https://www.environment.sa.gov.au/topics/science/information-and-data/census-of-sa-plants-algae-fungi

In [2]:
#import essential libraries
import pandas as pd
import numpy as np
import os
import sys

projectDir = "/Users/oco115/PycharmProjects/authoritative-lists/"
cdataDir = "current-lists/conservation-lists/"
sdataDir = "current-lists/sensitive-lists/"
sourceData = "source-data/SA/"

# projectDir = "/Users/new330/IdeaProjects/authoritative-lists/"
sys.path.append(os.path.abspath(projectDir + "source-code/includes"))
import list_functions as lf

In [ ]:
## Conservation list
# Download the Excel files first. Data is in multiple sheets and has to have first few rows removed also.
# Read Excel files into dataframes from these sources:
#  Fauna: [metadata](https://www.environment.sa.gov.au/topics/science/information-and-data/census-of-sa-vertebrates) and [BDBSA taxonomy](https://data.environment.sa.gov.au/Content/Publications/fauna-bdbsa-taxonomy.xlsx)
#  Flora: [metadata](https://www.environment.sa.gov.au/topics/science/information-and-data/census-of-sa-plants-algae-fungi) and [BDBSA taxonomy](https://data.environment.sa.gov.au/Content/Publications/vascular-plants-bdbsa-taxonomy.xlsx)

## Fauna

In [3]:
fauna = pd.read_excel(projectDir + sourceData + "fauna-bdbsa-taxonomy.xlsx",sheet_name="Taxonomic List")
fauna

,NOTE:Fish taxonomy is under review. The fish species are not complete and taxonomic order unchecked (species listed in blue).,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Invertebrate taxonomy is now being included as...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TEMPORARY TAXONOMIC SORT ORDER,SPECIESTYPE,CLASSNAME,ORDERNAME,FAMILYNAME,COMMON NAME,NSXCODE,GENUS,SP,SCIENTIFIC NAME,INTRODUCED,NPW ACT STATUS,NPW ACT STATUS COMMENTS,EPBC ACT STATUS,EPBC ACT STATUS COMMENTS,OFFICIAL SPECIES COMMENTS,DATE CREATED IN BDBSA,DATE TAXONOMY MODIFIED IN BDBSA,SPECIES AUTHOR,SUBSPECIES AUTHOR
2,1,M,MAMMALIA,MONOTREMATA,ORNITHORHYNCHIDAE,Platypus,S01001,Ornithorhynchus,anatinus,Ornithorhynchus anatinus,NaN,E,NaN,NaN,NaN,"Introduced to Kangaroo Island (1928-1946, exta...",1990-03-01 00:00:00,37561,"(Shaw, 1799)",NaN
3,2,M,MAMMALIA,MONOTREMATA,ORNITHORHYNCHIDAE,NaN,E10510,Ornithorhynchus,sp.,Ornithorhynchus sp.,NaN,NaN,NaN,NaN,NaN,NaN,1990-03-01 00:00:00,37561,NaN,NaN
4,3,M,MAMMALIA,MONOTREMATA,TACHYGLOSSIDAE,Echidna from Pleistocene,S05461,Megalibgwilia,ramsayi,Megalibgwilia ramsayi,NaN,NaN,NaN,NaN,NaN,Not included in the SA Census. This species in...,2016-01-12 00:00:00,NaN,Owen 1884,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4136,4135,I,INVERTEBRATES,HYMENOPTERA,FORMICIDAE,genus of ants,Y11508,Zasphinctus,sp.,Zasphinctus sp.,NaN,NaN,NaN,NaN,NaN,NaN,2021-07-23 00:00:00,NaN,NaN,NaN
4137,4136,I,INVERTEBRATES,HYMENOPTERA,HYMENOPTERA (ORDER),NaN,U11238,HYMENOPTERA,sp.,HYMENOPTERA sp.,NaN,NaN,NaN,NaN,NaN,NaN,2019-05-07 00:00:00,NaN,"(Meigen, 1826)",NaN
4138,4137,I,INVERTEBRATES,SCORPIONES,SCORPIONES (ORDER),Scorpions,G15147,SCORPIONES,sp.,SCORPIONES sp.,NaN,NaN,NaN,NaN,NaN,NaN,2018-08-24 00:00:00,NaN,NaN,NaN
4139,4138,I,INVERTEBRATES,MESOSTIGMATA,MESOSTIGMATA (ORDER),order of mites,K11189,MESOSTIGMATA,sp.,MESOSTIGMATA sp.,NaN,NaN,NaN,NaN,NaN,NaN,2018-09-07 00:00:00,NaN,NaN,NaN
4140,4139,I,INVERTEBRATES,SPONGILLIDA,SPONGILLIDAE,Freshwater Sponges,G15171,SPONGILLIDAE,sp.,SPONGILLIDAE sp.,NaN,NaN,NaN,NaN,NaN,NaN,2019-04-01 00:00:00,NaN,"Gray, 1867",NaN

In [4]:
fauna.columns = fauna.iloc[1]
fauna.columns

Index(['TEMPORARY TAXONOMIC SORT ORDER', 'SPECIESTYPE', 'CLASSNAME',
       'ORDERNAME', 'FAMILYNAME', 'COMMON NAME', 'NSXCODE', 'GENUS', 'SP',
       'SCIENTIFIC NAME', 'INTRODUCED', 'NPW ACT STATUS',
       'NPW ACT STATUS COMMENTS', 'EPBC ACT STATUS',
       'EPBC ACT STATUS COMMENTS', 'OFFICIAL SPECIES COMMENTS',
       'DATE CREATED IN BDBSA', 'DATE TAXONOMY MODIFIED IN BDBSA',
       'SPECIES AUTHOR', 'SUBSPECIES AUTHOR'],
      dtype='object', name=1)

In [5]:
fauna = fauna[2:]
fauna

1,TEMPORARY TAXONOMIC SORT ORDER,SPECIESTYPE,CLASSNAME,ORDERNAME,FAMILYNAME,COMMON NAME,NSXCODE,GENUS,SP,SCIENTIFIC NAME,INTRODUCED,NPW ACT STATUS,NPW ACT STATUS COMMENTS,EPBC ACT STATUS,EPBC ACT STATUS COMMENTS,OFFICIAL SPECIES COMMENTS,DATE CREATED IN BDBSA,DATE TAXONOMY MODIFIED IN BDBSA,SPECIES AUTHOR,SUBSPECIES AUTHOR
2,1,M,MAMMALIA,MONOTREMATA,ORNITHORHYNCHIDAE,Platypus,S01001,Ornithorhynchus,anatinus,Ornithorhynchus anatinus,NaN,E,NaN,NaN,NaN,"Introduced to Kangaroo Island (1928-1946, exta...",1990-03-01 00:00:00,37561,"(Shaw, 1799)",NaN
3,2,M,MAMMALIA,MONOTREMATA,ORNITHORHYNCHIDAE,NaN,E10510,Ornithorhynchus,sp.,Ornithorhynchus sp.,NaN,NaN,NaN,NaN,NaN,NaN,1990-03-01 00:00:00,37561,NaN,NaN
4,3,M,MAMMALIA,MONOTREMATA,TACHYGLOSSIDAE,Echidna from Pleistocene,S05461,Megalibgwilia,ramsayi,Megalibgwilia ramsayi,NaN,NaN,NaN,NaN,NaN,Not included in the SA Census. This species in...,2016-01-12 00:00:00,NaN,Owen 1884,NaN
5,4,M,MAMMALIA,MONOTREMATA,TACHYGLOSSIDAE,Short-beaked Echidna,W01003,Tachyglossus,aculeatus,Tachyglossus aculeatus,NaN,ssp,KI subspecies is rated.,ssp,ammended 18 June 2015,NaN,1990-03-01 00:00:00,37561,"(Shaw, 1792)",NaN
6,5,M,MAMMALIA,MONOTREMATA,TACHYGLOSSIDAE,Short-beaked Echidna (Kangaroo Island),C21009,Tachyglossus,aculeatus multiaculeatus,Tachyglossus aculeatus multiaculeatus,NaN,E,Listing official as off 1/Jan/2020.,EN,NaN,NaN,2015-07-03 00:00:00,43066,"(Rothschild, 1905)",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4136,4135,I,INVERTEBRATES,HYMENOPTERA,FORMICIDAE,genus of ants,Y11508,Zasphinctus,sp.,Zasphinctus sp.,NaN,NaN,NaN,NaN,NaN,NaN,2021-07-23 00:00:00,NaN,NaN,NaN
4137,4136,I,INVERTEBRATES,HYMENOPTERA,HYMENOPTERA (ORDER),NaN,U11238,HYMENOPTERA,sp.,HYMENOPTERA sp.,NaN,NaN,NaN,NaN,NaN,NaN,2019-05-07 00:00:00,NaN,"(Meigen, 1826)",NaN
4138,4137,I,INVERTEBRATES,SCORPIONES,SCORPIONES (ORDER),Scorpions,G15147,SCORPIONES,sp.,SCORPIONES sp.,NaN,NaN,NaN,NaN,NaN,NaN,2018-08-24 00:00:00,NaN,NaN,NaN
4139,4138,I,INVERTEBRATES,MESOSTIGMATA,MESOSTIGMATA (ORDER),order of mites,K11189,MESOSTIGMATA,sp.,MESOSTIGMATA sp.,NaN,NaN,NaN,NaN,NaN,NaN,2018-09-07 00:00:00,NaN,NaN,NaN
4140,4139,I,INVERTEBRATES,SPONGILLIDA,SPONGILLIDAE,Freshwater Sponges,G15171,SPONGILLIDAE,sp.,SPONGILLIDAE sp.,NaN,NaN,NaN,NaN,NaN,NaN,2019-04-01 00:00:00,NaN,"Gray, 1867",NaN

In [6]:
fauna = fauna[fauna['NPW ACT STATUS'].isin(['R','V','E'])]
fauna

1,TEMPORARY TAXONOMIC SORT ORDER,SPECIESTYPE,CLASSNAME,ORDERNAME,FAMILYNAME,COMMON NAME,NSXCODE,GENUS,SP,SCIENTIFIC NAME,INTRODUCED,NPW ACT STATUS,NPW ACT STATUS COMMENTS,EPBC ACT STATUS,EPBC ACT STATUS COMMENTS,OFFICIAL SPECIES COMMENTS,DATE CREATED IN BDBSA,DATE TAXONOMY MODIFIED IN BDBSA,SPECIES AUTHOR,SUBSPECIES AUTHOR
2,1,M,MAMMALIA,MONOTREMATA,ORNITHORHYNCHIDAE,Platypus,S01001,Ornithorhynchus,anatinus,Ornithorhynchus anatinus,NaN,E,NaN,NaN,NaN,"Introduced to Kangaroo Island (1928-1946, exta...",1990-03-01 00:00:00,37561,"(Shaw, 1799)",NaN
6,5,M,MAMMALIA,MONOTREMATA,TACHYGLOSSIDAE,Short-beaked Echidna (Kangaroo Island),C21009,Tachyglossus,aculeatus multiaculeatus,Tachyglossus aculeatus multiaculeatus,NaN,E,Listing official as off 1/Jan/2020.,EN,NaN,NaN,2015-07-03 00:00:00,43066,"(Rothschild, 1905)",NaN
12,11,M,MAMMALIA,DASYUROMORPHIA,MYRMECOBIIDAE,Numbat,M01086,Myrmecobius,fasciatus,Myrmecobius fasciatus,NaN,E,Introduced,EN,Introduced to South Australia. Changed from VU...,Original populations extinct in SA. Western Au...,1990-03-01 00:00:00,2002-11-01 00:00:00,"Waterhouse, 1836",NaN
14,13,M,MAMMALIA,DASYUROMORPHIA,DASYURIDAE,Brush-tailed Mulgara (Mulgara),C04277,Dasycercus,blythi,Dasycercus blythi,NaN,E,NaN,NaN,NaN,There has been recent taxonomic revision of th...,2000-08-01 00:00:00,2012-03-23 00:00:00,"(Krefft, 1867)",NaN
17,16,M,MAMMALIA,DASYUROMORPHIA,DASYURIDAE,Kowari,C01021,Dasyuroides,byrnei,Dasyuroides byrnei,NaN,E,Changed from V to E 1/Jan/2020.,VU,NaN,The Vertebrates of South Australia (Robinson e...,1990-03-01 00:00:00,2012-08-28 00:00:00,"(Spencer, 1896)",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1499,1498,A,AMPHIBIA,ANURA,MYOBATRACHIDAE,Shoemaker Frog,W03087,Neobatrachus,sutor,Neobatrachus sutor,NaN,V,NaN,NaN,NaN,NaN,1997-07-21 00:00:00,37561,"Main, 1957",NaN
1501,1500,A,AMPHIBIA,ANURA,MYOBATRACHIDAE,Brown Toadlet,C03117,Pseudophryne,bibronii,Pseudophryne bibronii,NaN,R,NaN,NaN,NaN,NaN,1997-07-21 00:00:00,38646,"Gunther, 1858",NaN
1502,1501,A,AMPHIBIA,ANURA,MYOBATRACHIDAE,Everard Ranges Toadlet,A03124,Pseudophryne,robinsoni,Pseudophryne robinsoni,NaN,V,NaN,NaN,NaN,NaN,1997-07-21 00:00:00,41319,"Donellan, Mahoney & Bertozzi, 2012",NaN
1503,1502,A,AMPHIBIA,ANURA,MYOBATRACHIDAE,Marbled Toadlet,C03125,Pseudophryne,semimarmorata,Pseudophryne semimarmorata,NaN,V,NaN,NaN,NaN,NaN,1997-07-21 00:00:00,37561,"Lucas, 1892",NaN
1505,1504,A,AMPHIBIA,ANURA,MYOBATRACHIDAE,Small-headed Toadlet,K03013,Uperoleia,rugosa,Uperoleia rugosa,NaN,R,NaN,NaN,NaN,NaN,1997-11-04 00:00:00,44215,"(Parker, 1940)",NaN

In [7]:
conservationCodesMapping = {
    'E':'Endangered',
    'R':'Rare',
    'V':'Vulnerable'
}
fauna['status'] = fauna['NPW ACT STATUS'].str.strip().map(conservationCodesMapping).fillna(fauna['NPW ACT STATUS'])
fauna

C:\Users\oco115\AppData\Local\Temp/ipykernel_16208/3356100932.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fauna['status'] = fauna['NPW ACT STATUS'].str.strip().map(conservationCodesMapping).fillna(fauna['NPW ACT STATUS'])

1,TEMPORARY TAXONOMIC SORT ORDER,SPECIESTYPE,CLASSNAME,ORDERNAME,FAMILYNAME,COMMON NAME,NSXCODE,GENUS,SP,SCIENTIFIC NAME,...,NPW ACT STATUS,NPW ACT STATUS COMMENTS,EPBC ACT STATUS,EPBC ACT STATUS COMMENTS,OFFICIAL SPECIES COMMENTS,DATE CREATED IN BDBSA,DATE TAXONOMY MODIFIED IN BDBSA,SPECIES AUTHOR,SUBSPECIES AUTHOR,status
2,1,M,MAMMALIA,MONOTREMATA,ORNITHORHYNCHIDAE,Platypus,S01001,Ornithorhynchus,anatinus,Ornithorhynchus anatinus,...,E,NaN,NaN,NaN,"Introduced to Kangaroo Island (1928-1946, exta...",1990-03-01 00:00:00,37561,"(Shaw, 1799)",NaN,Endangered
6,5,M,MAMMALIA,MONOTREMATA,TACHYGLOSSIDAE,Short-beaked Echidna (Kangaroo Island),C21009,Tachyglossus,aculeatus multiaculeatus,Tachyglossus aculeatus multiaculeatus,...,E,Listing official as off 1/Jan/2020.,EN,NaN,NaN,2015-07-03 00:00:00,43066,"(Rothschild, 1905)",NaN,Endangered
12,11,M,MAMMALIA,DASYUROMORPHIA,MYRMECOBIIDAE,Numbat,M01086,Myrmecobius,fasciatus,Myrmecobius fasciatus,...,E,Introduced,EN,Introduced to South Australia. Changed from VU...,Original populations extinct in SA. Western Au...,1990-03-01 00:00:00,2002-11-01 00:00:00,"Waterhouse, 1836",NaN,Endangered
14,13,M,MAMMALIA,DASYUROMORPHIA,DASYURIDAE,Brush-tailed Mulgara (Mulgara),C04277,Dasycercus,blythi,Dasycercus blythi,...,E,NaN,NaN,NaN,There has been recent taxonomic revision of th...,2000-08-01 00:00:00,2012-03-23 00:00:00,"(Krefft, 1867)",NaN,Endangered
17,16,M,MAMMALIA,DASYUROMORPHIA,DASYURIDAE,Kowari,C01021,Dasyuroides,byrnei,Dasyuroides byrnei,...,E,Changed from V to E 1/Jan/2020.,VU,NaN,The Vertebrates of South Australia (Robinson e...,1990-03-01 00:00:00,2012-08-28 00:00:00,"(Spencer, 1896)",NaN,Endangered
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1499,1498,A,AMPHIBIA,ANURA,MYOBATRACHIDAE,Shoemaker Frog,W03087,Neobatrachus,sutor,Neobatrachus sutor,...,V,NaN,NaN,NaN,NaN,1997-07-21 00:00:00,37561,"Main, 1957",NaN,Vulnerable
1501,1500,A,AMPHIBIA,ANURA,MYOBATRACHIDAE,Brown Toadlet,C03117,Pseudophryne,bibronii,Pseudophryne bibronii,...,R,NaN,NaN,NaN,NaN,1997-07-21 00:00:00,38646,"Gunther, 1858",NaN,Rare
1502,1501,A,AMPHIBIA,ANURA,MYOBATRACHIDAE,Everard Ranges Toadlet,A03124,Pseudophryne,robinsoni,Pseudophryne robinsoni,...,V,NaN,NaN,NaN,NaN,1997-07-21 00:00:00,41319,"Donellan, Mahoney & Bertozzi, 2012",NaN,Vulnerable
1503,1502,A,AMPHIBIA,ANURA,MYOBATRACHIDAE,Marbled Toadlet,C03125,Pseudophryne,semimarmorata,Pseudophryne semimarmorata,...,V,NaN,NaN,NaN,NaN,1997-07-21 00:00:00,37561,"Lucas, 1892",NaN,Vulnerable
1505,1504,A,AMPHIBIA,ANURA,MYOBATRACHIDAE,Small-headed Toadlet,K03013,Uperoleia,rugosa,Uperoleia rugosa,...,R,NaN,NaN,NaN,NaN,1997-11-04 00:00:00,44215,"(Parker, 1940)",NaN,Rare

In [8]:
fauna = fauna.rename(columns=
{
    'CLASSNAME':'class',
    'ORDERNAME':'order',
    'FAMILYNAME':'family',
    'COMMON NAME':'vernacularName',
    'NSXCODE':'taxonID',
    'GENUS':'genus',
    'SP':'species',
    'SCIENTIFIC NAME':'scientificName',
    'NPW ACT STATUS':'sourceStatus',
    'NPW ACT STATUS COMMENTS':'npwActStatusComments',
    'EPBC ACT STATUS':'epbcStatus',
    'EPBC ACT STATUS COMMENTS':'epbcActStatusComments',
    'OFFICIAL SPECIES COMMENTS':'taxonRemarks',
    'DATE CREATED IN BDBSA':'bdbsaCreatedDate',
    'DATE TAXONOMY MODIFIED IN BDBSA':'bdbsaModifiedDate',
    'SPECIES AUTHOR':'scientificNameAuthorship',
    'SUBSPECIES AUTHOR':'subspeciesAuthor'
})
fauna.drop(['TEMPORARY TAXONOMIC SORT ORDER','SPECIESTYPE','INTRODUCED'],axis=1,inplace=True)
fauna

1,class,order,family,vernacularName,taxonID,genus,species,scientificName,sourceStatus,npwActStatusComments,epbcStatus,epbcActStatusComments,taxonRemarks,bdbsaCreatedDate,bdbsaModifiedDate,scientificNameAuthorship,subspeciesAuthor,status
2,MAMMALIA,MONOTREMATA,ORNITHORHYNCHIDAE,Platypus,S01001,Ornithorhynchus,anatinus,Ornithorhynchus anatinus,E,NaN,NaN,NaN,"Introduced to Kangaroo Island (1928-1946, exta...",1990-03-01 00:00:00,37561,"(Shaw, 1799)",NaN,Endangered
6,MAMMALIA,MONOTREMATA,TACHYGLOSSIDAE,Short-beaked Echidna (Kangaroo Island),C21009,Tachyglossus,aculeatus multiaculeatus,Tachyglossus aculeatus multiaculeatus,E,Listing official as off 1/Jan/2020.,EN,NaN,NaN,2015-07-03 00:00:00,43066,"(Rothschild, 1905)",NaN,Endangered
12,MAMMALIA,DASYUROMORPHIA,MYRMECOBIIDAE,Numbat,M01086,Myrmecobius,fasciatus,Myrmecobius fasciatus,E,Introduced,EN,Introduced to South Australia. Changed from VU...,Original populations extinct in SA. Western Au...,1990-03-01 00:00:00,2002-11-01 00:00:00,"Waterhouse, 1836",NaN,Endangered
14,MAMMALIA,DASYUROMORPHIA,DASYURIDAE,Brush-tailed Mulgara (Mulgara),C04277,Dasycercus,blythi,Dasycercus blythi,E,NaN,NaN,NaN,There has been recent taxonomic revision of th...,2000-08-01 00:00:00,2012-03-23 00:00:00,"(Krefft, 1867)",NaN,Endangered
17,MAMMALIA,DASYUROMORPHIA,DASYURIDAE,Kowari,C01021,Dasyuroides,byrnei,Dasyuroides byrnei,E,Changed from V to E 1/Jan/2020.,VU,NaN,The Vertebrates of South Australia (Robinson e...,1990-03-01 00:00:00,2012-08-28 00:00:00,"(Spencer, 1896)",NaN,Endangered
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1499,AMPHIBIA,ANURA,MYOBATRACHIDAE,Shoemaker Frog,W03087,Neobatrachus,sutor,Neobatrachus sutor,V,NaN,NaN,NaN,NaN,1997-07-21 00:00:00,37561,"Main, 1957",NaN,Vulnerable
1501,AMPHIBIA,ANURA,MYOBATRACHIDAE,Brown Toadlet,C03117,Pseudophryne,bibronii,Pseudophryne bibronii,R,NaN,NaN,NaN,NaN,1997-07-21 00:00:00,38646,"Gunther, 1858",NaN,Rare
1502,AMPHIBIA,ANURA,MYOBATRACHIDAE,Everard Ranges Toadlet,A03124,Pseudophryne,robinsoni,Pseudophryne robinsoni,V,NaN,NaN,NaN,NaN,1997-07-21 00:00:00,41319,"Donellan, Mahoney & Bertozzi, 2012",NaN,Vulnerable
1503,AMPHIBIA,ANURA,MYOBATRACHIDAE,Marbled Toadlet,C03125,Pseudophryne,semimarmorata,Pseudophryne semimarmorata,V,NaN,NaN,NaN,NaN,1997-07-21 00:00:00,37561,"Lucas, 1892",NaN,Vulnerable
1505,AMPHIBIA,ANURA,MYOBATRACHIDAE,Small-headed Toadlet,K03013,Uperoleia,rugosa,Uperoleia rugosa,R,NaN,NaN,NaN,NaN,1997-11-04 00:00:00,44215,"(Parker, 1940)",NaN,Rare

## Flora

In [9]:
flora= pd.read_excel(projectDir + sourceData + "vascular-plants-bdbsa-taxonomy.xlsx",sheet_name="Taxonomic list")
flora

,TEMPORARY TAXONOMIC SORT ORDER,MAJOR GROUP,FAMILYNAME,COMMON NAME,NSXCODE,GENUS,SP,SUBSPECIES,SCIENTIFIC NAME,INTRODUCED,NPW ACT STATUS,NPW ACT STATUS COMMENT,EPBC ACT STATUS,EPBC ACT STATUS COMMENT,WEED OF NATIONAL SIGNIFICANCE,LANDSCAPE ACT Weed Status,DATE CREATED IN BDBSA,DATE TAXONOMY MODIFIED IN BDBSA,SPECIES with AUTHOR
0,1,Pteridophyta,PSILOTACEAE,Skeleton Fork-fern,U05218,Psilotum,nudum,,Psilotum nudum,NaN,E,Currently Extinct in the wild in SA,NaN,NaN,NaN,NaN,1992-11-13,NaT,Psilotum nudum (L.)P.Beauv.
1,2,Pteridophyta,LYCOPODIACEAE,Clubmoss Family,Y15092,Lycopodiaceae,sp.,,Lycopodiaceae sp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990-10-02,NaT,Lycopodiaceae sp.
2,3,Pteridophyta,LYCOPODIACEAE,Slender Clubmoss,Y00020,Lycopodiella,lateralis,,Lycopodiella lateralis,NaN,R,NaN,NaN,NaN,NaN,NaN,1990-10-02,1992-11-13,Lycopodiella lateralis (R.Br.)B.Ollg.
3,4,Pteridophyta,LYCOPODIACEAE,Bog Clubmoss,K00021,Lycopodiella,serpentina,,Lycopodiella serpentina,NaN,E,NaN,NaN,NaN,NaN,NaN,1990-10-02,1992-11-13,Lycopodiella serpentina (Kunze)B.Ollg.
4,5,Pteridophyta,LYCOPODIACEAE,Clubmoss,W10607,Lycopodiella,sp.,,Lycopodiella sp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990-10-02,1993-11-30,Lycopodiella sp.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6165,6166,Angiospermae,ORCHIDACEAE,Crested Sun-orchid,W00863,Thelymitra,irregularis,,Thelymitra X irregularis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990-10-02,2005-11-29,Thelymitra X irregularis Nicholls
6166,6167,Angiospermae,ORCHIDACEAE,Crimson Sun-orchid,Y00868,Thelymitra,macmillanii,,Thelymitra X macmillanii,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990-10-02,2005-11-29,Thelymitra X macmillanii F.Muell.
6167,6168,Angiospermae,ORCHIDACEAE,NaN,Y03672,Thelymitra,merraniae,,Thelymitra X merraniae,NaN,E,"EN D, updated null to E, Apr 2007",NaN,NaN,NaN,NaN,1990-10-02,2005-05-10,Thelymitra X merraniae Nicholls
6168,6169,Angiospermae,ORCHIDACEAE,Hybrid Sun-orchid,C04797,Thelymitra,truncata,,Thelymitra X truncata,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990-10-02,2005-11-29,Thelymitra X truncata R.S.Rogers
6169,6170,Angiospermae,ORCHIDACEAE,NaN,Q04388,Glossadenia,tutelata,,X Glossadenia tutelata,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990-10-02,2008-05-21,X Glossadenia tutelata (R.S.Rogers)Kellermann

Fixes to flora file:
* filter by NPW ACT Status is one of : E, V or R. Expand this value to the status field
* rename the columns to DwC friendly names
* remove some unwanted columns

In [10]:
flora.columns

Index(['TEMPORARY TAXONOMIC SORT ORDER', 'MAJOR GROUP', 'FAMILYNAME',
       'COMMON NAME', 'NSXCODE', 'GENUS', 'SP', 'SUBSPECIES',
       'SCIENTIFIC NAME', 'INTRODUCED', 'NPW ACT STATUS',
       'NPW ACT STATUS COMMENT', 'EPBC ACT STATUS', 'EPBC ACT STATUS COMMENT',
       'WEED OF NATIONAL SIGNIFICANCE', 'LANDSCAPE ACT Weed Status',
       'DATE CREATED IN BDBSA', 'DATE TAXONOMY MODIFIED IN BDBSA',
       'SPECIES with AUTHOR'],
      dtype='object')

In [11]:
# flora = flora[flora['NPW ACT STATUS'].isin(['R','V','E','R*','V*','E*'])]
# flora["status"] = np.where(flora['NPW ACT STATUS'].str.startswith('E'),'Endangered',
#                            np.where(flora['NPW ACT STATUS'].str.startswith('R'),'Rare',
#                                     np.where(flora['NPW ACT STATUS'].str.startswith('V'),'Vulnerable','UNK')))
flora = flora[flora['NPW ACT STATUS'].isin(['R','V','E'])]
flora

,TEMPORARY TAXONOMIC SORT ORDER,MAJOR GROUP,FAMILYNAME,COMMON NAME,NSXCODE,GENUS,SP,SUBSPECIES,SCIENTIFIC NAME,INTRODUCED,NPW ACT STATUS,NPW ACT STATUS COMMENT,EPBC ACT STATUS,EPBC ACT STATUS COMMENT,WEED OF NATIONAL SIGNIFICANCE,LANDSCAPE ACT Weed Status,DATE CREATED IN BDBSA,DATE TAXONOMY MODIFIED IN BDBSA,SPECIES with AUTHOR
0,1,Pteridophyta,PSILOTACEAE,Skeleton Fork-fern,U05218,Psilotum,nudum,,Psilotum nudum,NaN,E,Currently Extinct in the wild in SA,NaN,NaN,NaN,NaN,1992-11-13,NaT,Psilotum nudum (L.)P.Beauv.
2,3,Pteridophyta,LYCOPODIACEAE,Slender Clubmoss,Y00020,Lycopodiella,lateralis,,Lycopodiella lateralis,NaN,R,NaN,NaN,NaN,NaN,NaN,1990-10-02,1992-11-13,Lycopodiella lateralis (R.Br.)B.Ollg.
3,4,Pteridophyta,LYCOPODIACEAE,Bog Clubmoss,K00021,Lycopodiella,serpentina,,Lycopodiella serpentina,NaN,E,NaN,NaN,NaN,NaN,NaN,1990-10-02,1992-11-13,Lycopodiella serpentina (Kunze)B.Ollg.
5,6,Pteridophyta,LYCOPODIACEAE,Bushy Clubmoss,W00019,Lycopodium,deuterodensum,,Lycopodium deuterodensum,NaN,E,NaN,NaN,NaN,NaN,NaN,1990-10-02,NaT,Lycopodium deuterodensum Herter
6,7,Pteridophyta,LYCOPODIACEAE,Pigmy Clubmoss,M00022,Phylloglossum,drummondii,,Phylloglossum drummondii,NaN,R,NaN,NaN,NaN,NaN,NaN,1990-10-02,NaT,Phylloglossum drummondii Kunze
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6148,6149,Angiospermae,ORCHIDACEAE,Spiral Sun-orchid,K00869,Thelymitra,matthewsii,,Thelymitra matthewsii,NaN,E,NaN,VU,2000-07-16 00:00:00,NaN,NaN,1990-10-02,NaT,Thelymitra matthewsii Cheeseman
6154,6155,Angiospermae,ORCHIDACEAE,Azure Sun-orchid,S06033,Thelymitra,occidentalis,,Thelymitra occidentalis,NaN,R,RA d(i),NaN,NaN,NaN,NaN,2005-05-10,NaT,Thelymitra occidentalis Jeanes
6156,6157,Angiospermae,ORCHIDACEAE,Plum Sun-orchid,K32213,Thelymitra,orientalis,,Thelymitra orientalis,NaN,R,NaN,NaN,NaN,NaN,NaN,2011-02-03,NaT,Thelymitra orientalis R.J.Bates
6160,6161,Angiospermae,ORCHIDACEAE,Blue Star Sun-orchid,S32209,Thelymitra,peniculata,,Thelymitra peniculata,NaN,V,Warning: Conservation status data auto-copied ...,NaN,NaN,NaN,NaN,2011-02-02,NaT,Thelymitra peniculata Jeanes
6167,6168,Angiospermae,ORCHIDACEAE,NaN,Y03672,Thelymitra,merraniae,,Thelymitra X merraniae,NaN,E,"EN D, updated null to E, Apr 2007",NaN,NaN,NaN,NaN,1990-10-02,2005-05-10,Thelymitra X merraniae Nicholls

In [12]:
conservationCodesMapping = {
    'E':'Endangered',
    'R':'Rare',
    'V':'Vulnerable'
}
flora['status'] = flora['NPW ACT STATUS'].str.strip().map(conservationCodesMapping).fillna(flora['NPW ACT STATUS'])
flora

C:\Users\oco115\AppData\Local\Temp/ipykernel_16208/1110165044.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flora['status'] = flora['NPW ACT STATUS'].str.strip().map(conservationCodesMapping).fillna(flora['NPW ACT STATUS'])

,TEMPORARY TAXONOMIC SORT ORDER,MAJOR GROUP,FAMILYNAME,COMMON NAME,NSXCODE,GENUS,SP,SUBSPECIES,SCIENTIFIC NAME,INTRODUCED,NPW ACT STATUS,NPW ACT STATUS COMMENT,EPBC ACT STATUS,EPBC ACT STATUS COMMENT,WEED OF NATIONAL SIGNIFICANCE,LANDSCAPE ACT Weed Status,DATE CREATED IN BDBSA,DATE TAXONOMY MODIFIED IN BDBSA,SPECIES with AUTHOR,status
0,1,Pteridophyta,PSILOTACEAE,Skeleton Fork-fern,U05218,Psilotum,nudum,,Psilotum nudum,NaN,E,Currently Extinct in the wild in SA,NaN,NaN,NaN,NaN,1992-11-13,NaT,Psilotum nudum (L.)P.Beauv.,Endangered
2,3,Pteridophyta,LYCOPODIACEAE,Slender Clubmoss,Y00020,Lycopodiella,lateralis,,Lycopodiella lateralis,NaN,R,NaN,NaN,NaN,NaN,NaN,1990-10-02,1992-11-13,Lycopodiella lateralis (R.Br.)B.Ollg.,Rare
3,4,Pteridophyta,LYCOPODIACEAE,Bog Clubmoss,K00021,Lycopodiella,serpentina,,Lycopodiella serpentina,NaN,E,NaN,NaN,NaN,NaN,NaN,1990-10-02,1992-11-13,Lycopodiella serpentina (Kunze)B.Ollg.,Endangered
5,6,Pteridophyta,LYCOPODIACEAE,Bushy Clubmoss,W00019,Lycopodium,deuterodensum,,Lycopodium deuterodensum,NaN,E,NaN,NaN,NaN,NaN,NaN,1990-10-02,NaT,Lycopodium deuterodensum Herter,Endangered
6,7,Pteridophyta,LYCOPODIACEAE,Pigmy Clubmoss,M00022,Phylloglossum,drummondii,,Phylloglossum drummondii,NaN,R,NaN,NaN,NaN,NaN,NaN,1990-10-02,NaT,Phylloglossum drummondii Kunze,Rare
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6148,6149,Angiospermae,ORCHIDACEAE,Spiral Sun-orchid,K00869,Thelymitra,matthewsii,,Thelymitra matthewsii,NaN,E,NaN,VU,2000-07-16 00:00:00,NaN,NaN,1990-10-02,NaT,Thelymitra matthewsii Cheeseman,Endangered
6154,6155,Angiospermae,ORCHIDACEAE,Azure Sun-orchid,S06033,Thelymitra,occidentalis,,Thelymitra occidentalis,NaN,R,RA d(i),NaN,NaN,NaN,NaN,2005-05-10,NaT,Thelymitra occidentalis Jeanes,Rare
6156,6157,Angiospermae,ORCHIDACEAE,Plum Sun-orchid,K32213,Thelymitra,orientalis,,Thelymitra orientalis,NaN,R,NaN,NaN,NaN,NaN,NaN,2011-02-03,NaT,Thelymitra orientalis R.J.Bates,Rare
6160,6161,Angiospermae,ORCHIDACEAE,Blue Star Sun-orchid,S32209,Thelymitra,peniculata,,Thelymitra peniculata,NaN,V,Warning: Conservation status data auto-copied ...,NaN,NaN,NaN,NaN,2011-02-02,NaT,Thelymitra peniculata Jeanes,Vulnerable
6167,6168,Angiospermae,ORCHIDACEAE,NaN,Y03672,Thelymitra,merraniae,,Thelymitra X merraniae,NaN,E,"EN D, updated null to E, Apr 2007",NaN,NaN,NaN,NaN,1990-10-02,2005-05-10,Thelymitra X merraniae Nicholls,Endangered

In [13]:
flora = flora.rename(columns=
{
    'MAJOR GROUP':'majorGroup',
    'FAMILYNAME':'family',
    'COMMON NAME':'vernacularName',
    'NSXCODE':'taxonID',
    'GENUS':'genus',
    'SP':'species',
    'SUBSPECIES':'subSpecies',
    'SCIENTIFIC NAME':'scientificName',
    'NPWSA ACT STATUS':'sourceStatus',
    'NPWSA ACT STATUS COMMENT':'npwActStatusComments',
    'EPBC ACT STATUS':'epbcStatus',
    'EPBC ACT STATUS COMMENT':'epbcActStatusComments',
    'Weed of National Significance':'weedOfNationalSignificance',
    'NRM ACT Weed Status':'nrmActWeedStatus',
    'CREATIONDATE':'bdbsaCreatedDate',
    'MODIFIEDDATE':'bdbsaModifiedDate',
    'SPECIES with AUTHOR':'scientificNameAuthorship'
})
flora.drop(['TEMPORARY TAXONOMIC SORT ORDER','INTRODUCED'],axis=1,inplace=True)
flora

,majorGroup,family,vernacularName,taxonID,genus,species,subSpecies,scientificName,NPW ACT STATUS,NPW ACT STATUS COMMENT,epbcStatus,epbcActStatusComments,WEED OF NATIONAL SIGNIFICANCE,LANDSCAPE ACT Weed Status,DATE CREATED IN BDBSA,DATE TAXONOMY MODIFIED IN BDBSA,scientificNameAuthorship,status
0,Pteridophyta,PSILOTACEAE,Skeleton Fork-fern,U05218,Psilotum,nudum,,Psilotum nudum,E,Currently Extinct in the wild in SA,NaN,NaN,NaN,NaN,1992-11-13,NaT,Psilotum nudum (L.)P.Beauv.,Endangered
2,Pteridophyta,LYCOPODIACEAE,Slender Clubmoss,Y00020,Lycopodiella,lateralis,,Lycopodiella lateralis,R,NaN,NaN,NaN,NaN,NaN,1990-10-02,1992-11-13,Lycopodiella lateralis (R.Br.)B.Ollg.,Rare
3,Pteridophyta,LYCOPODIACEAE,Bog Clubmoss,K00021,Lycopodiella,serpentina,,Lycopodiella serpentina,E,NaN,NaN,NaN,NaN,NaN,1990-10-02,1992-11-13,Lycopodiella serpentina (Kunze)B.Ollg.,Endangered
5,Pteridophyta,LYCOPODIACEAE,Bushy Clubmoss,W00019,Lycopodium,deuterodensum,,Lycopodium deuterodensum,E,NaN,NaN,NaN,NaN,NaN,1990-10-02,NaT,Lycopodium deuterodensum Herter,Endangered
6,Pteridophyta,LYCOPODIACEAE,Pigmy Clubmoss,M00022,Phylloglossum,drummondii,,Phylloglossum drummondii,R,NaN,NaN,NaN,NaN,NaN,1990-10-02,NaT,Phylloglossum drummondii Kunze,Rare
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6148,Angiospermae,ORCHIDACEAE,Spiral Sun-orchid,K00869,Thelymitra,matthewsii,,Thelymitra matthewsii,E,NaN,VU,2000-07-16 00:00:00,NaN,NaN,1990-10-02,NaT,Thelymitra matthewsii Cheeseman,Endangered
6154,Angiospermae,ORCHIDACEAE,Azure Sun-orchid,S06033,Thelymitra,occidentalis,,Thelymitra occidentalis,R,RA d(i),NaN,NaN,NaN,NaN,2005-05-10,NaT,Thelymitra occidentalis Jeanes,Rare
6156,Angiospermae,ORCHIDACEAE,Plum Sun-orchid,K32213,Thelymitra,orientalis,,Thelymitra orientalis,R,NaN,NaN,NaN,NaN,NaN,2011-02-03,NaT,Thelymitra orientalis R.J.Bates,Rare
6160,Angiospermae,ORCHIDACEAE,Blue Star Sun-orchid,S32209,Thelymitra,peniculata,,Thelymitra peniculata,V,Warning: Conservation status data auto-copied ...,NaN,NaN,NaN,NaN,2011-02-02,NaT,Thelymitra peniculata Jeanes,Vulnerable
6167,Angiospermae,ORCHIDACEAE,NaN,Y03672,Thelymitra,merraniae,,Thelymitra X merraniae,E,"EN D, updated null to E, Apr 2007",NaN,NaN,NaN,NaN,1990-10-02,2005-05-10,Thelymitra X merraniae Nicholls,Endangered

In [14]:
flora.columns

Index(['majorGroup', 'family', 'vernacularName', 'taxonID', 'genus', 'species',
       'subSpecies', 'scientificName', 'NPW ACT STATUS',
       'NPW ACT STATUS COMMENT', 'epbcStatus', 'epbcActStatusComments',
       'WEED OF NATIONAL SIGNIFICANCE', 'LANDSCAPE ACT Weed Status',
       'DATE CREATED IN BDBSA', 'DATE TAXONOMY MODIFIED IN BDBSA',
       'scientificNameAuthorship', 'status'],
      dtype='object')

In [15]:
saconservation= pd.concat([fauna,flora])
saconservation

,class,order,family,vernacularName,taxonID,genus,species,scientificName,sourceStatus,npwActStatusComments,...,subspeciesAuthor,status,majorGroup,subSpecies,NPW ACT STATUS,NPW ACT STATUS COMMENT,WEED OF NATIONAL SIGNIFICANCE,LANDSCAPE ACT Weed Status,DATE CREATED IN BDBSA,DATE TAXONOMY MODIFIED IN BDBSA
2,MAMMALIA,MONOTREMATA,ORNITHORHYNCHIDAE,Platypus,S01001,Ornithorhynchus,anatinus,Ornithorhynchus anatinus,E,NaN,...,NaN,Endangered,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
6,MAMMALIA,MONOTREMATA,TACHYGLOSSIDAE,Short-beaked Echidna (Kangaroo Island),C21009,Tachyglossus,aculeatus multiaculeatus,Tachyglossus aculeatus multiaculeatus,E,Listing official as off 1/Jan/2020.,...,NaN,Endangered,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
12,MAMMALIA,DASYUROMORPHIA,MYRMECOBIIDAE,Numbat,M01086,Myrmecobius,fasciatus,Myrmecobius fasciatus,E,Introduced,...,NaN,Endangered,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
14,MAMMALIA,DASYUROMORPHIA,DASYURIDAE,Brush-tailed Mulgara (Mulgara),C04277,Dasycercus,blythi,Dasycercus blythi,E,NaN,...,NaN,Endangered,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
17,MAMMALIA,DASYUROMORPHIA,DASYURIDAE,Kowari,C01021,Dasyuroides,byrnei,Dasyuroides byrnei,E,Changed from V to E 1/Jan/2020.,...,NaN,Endangered,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6148,NaN,NaN,ORCHIDACEAE,Spiral Sun-orchid,K00869,Thelymitra,matthewsii,Thelymitra matthewsii,NaN,NaN,...,NaN,Endangered,Angiospermae,,E,NaN,NaN,NaN,1990-10-02,NaT
6154,NaN,NaN,ORCHIDACEAE,Azure Sun-orchid,S06033,Thelymitra,occidentalis,Thelymitra occidentalis,NaN,NaN,...,NaN,Rare,Angiospermae,,R,RA d(i),NaN,NaN,2005-05-10,NaT
6156,NaN,NaN,ORCHIDACEAE,Plum Sun-orchid,K32213,Thelymitra,orientalis,Thelymitra orientalis,NaN,NaN,...,NaN,Rare,Angiospermae,,R,NaN,NaN,NaN,2011-02-03,NaT
6160,NaN,NaN,ORCHIDACEAE,Blue Star Sun-orchid,S32209,Thelymitra,peniculata,Thelymitra peniculata,NaN,NaN,...,NaN,Vulnerable,Angiospermae,,V,Warning: Conservation status data auto-copied ...,NaN,NaN,2011-02-02,NaT
6167,NaN,NaN,ORCHIDACEAE,NaN,Y03672,Thelymitra,merraniae,Thelymitra X merraniae,NaN,NaN,...,NaN,Endangered,Angiospermae,,E,"EN D, updated null to E, Apr 2007",NaN,NaN,1990-10-02,2005-05-10

Write dataframe to CSV

In [16]:
saconservation.to_csv(projectDir + cdataDir + "SA-conservation.csv",  encoding="UTF-8", index=False)

## Sensitive List
Source Data: https://data.environment.sa.gov.au/Content/Publications/DEW_SAEnvironmentallySensitiveDataREGISTER.xls

In [17]:
import xlrd
# sasensitive = pd.read_excel("~/IdeaProjects/authoritative-lists/source-data/SA/DEW_SAEnvironmentallySensitiveDataREGISTER.xls")

# Edit record changed date:
# from May2018 to May 2018 to be consistent for conversion
# from Feb-2020 to Feb 2020 to be consistent for conversion

sasensitive = pd.read_excel(projectDir + sourceData + "DEW_SAEnvironmentallySensitiveDataREGISTER.xls")
sasensitive

,Date Listed,Fauna/Flora,SPECIESTYPE,Sub Grouping,SA Species Code (NSXCODE),SPECIES,COMMON NAME,Clarifier
0,May 2013,Fauna,Birds,Cockatoo,Y09312,Calyptorhynchus banksii graptogyne,Red-tailed Black Cockatoo (south-east),nesting related records
1,May 2013,Fauna,Birds,Cockatoo,C00265,Calyptorhynchus lathami halmaturinus,Glossy Black-Cockatoo (Kangaroo Island subspec...,nesting related records
2,May 2013,Fauna,Birds,Raptor,K00233,Elanus scriptus,Letter-winged Kite,nesting related records
3,May 2013,Fauna,Birds,Raptor,Q00236,Falco hypoleucos,Grey Falcon,nesting related records
4,May 2013,Fauna,Birds,Raptor,S00237,Falco peregrinus macropus,Peregrine Falcon,nesting related records
...,...,...,...,...,...,...,...,...
203,May 2021,Fauna,Birds,NaN,C21181,Amytornis whitei aenigma,Yellabinna Rufous Grasswren,all records
204,Jun 2021,Fauna,Birds,NaN,E21182,Amytornis whitei oweni,Sandhill Rufous Grasswren,all records
205,Jul 2021,Flora,Plants,Shrub,E04842,Phebalium calcicola,Limestone Phebalium,all records
206,Aug 2021,Flora,Plants,Orchids,E04382,Caladenia White spider orchid group,White Spider-orchid,all records
207,Aug 2021,Flora,Plants,Ferns & Allies,ALA concept,Doodia caudata,NaN,all records

In [18]:
sasensitive = sasensitive.rename(columns=
{
    'Date Listed':'dateListed',
    'Fauna/Flora':'faunaFlora',
    'SPECIESTYPE':'speciesType',
    'SA Species Code (NSXCODE)':'saSpeciesCode',
    'SPECIES':'scientificName',
    'COMMON NAME':'vernacularName',
    'Sub Grouping': 'subGrouping',
    'Clarifier':'clarifier'
})
# no status provided Set to 'sensitive'
# convert date to yyyy-mm format
sasensitive['dateListed'] = pd.to_datetime(sasensitive['dateListed'], format='%b %Y')  # convert the date strings to datetime objects
sasensitive['dateListed'] = sasensitive['dateListed'].dt.strftime('%Y-%m')  # format the datetime objects into a new column of strings in "yyyy-mm" format

sasensitive

,dateListed,faunaFlora,speciesType,subGrouping,saSpeciesCode,scientificName,vernacularName,clarifier
0,2013-05,Fauna,Birds,Cockatoo,Y09312,Calyptorhynchus banksii graptogyne,Red-tailed Black Cockatoo (south-east),nesting related records
1,2013-05,Fauna,Birds,Cockatoo,C00265,Calyptorhynchus lathami halmaturinus,Glossy Black-Cockatoo (Kangaroo Island subspec...,nesting related records
2,2013-05,Fauna,Birds,Raptor,K00233,Elanus scriptus,Letter-winged Kite,nesting related records
3,2013-05,Fauna,Birds,Raptor,Q00236,Falco hypoleucos,Grey Falcon,nesting related records
4,2013-05,Fauna,Birds,Raptor,S00237,Falco peregrinus macropus,Peregrine Falcon,nesting related records
...,...,...,...,...,...,...,...,...
203,2021-05,Fauna,Birds,NaN,C21181,Amytornis whitei aenigma,Yellabinna Rufous Grasswren,all records
204,2021-06,Fauna,Birds,NaN,E21182,Amytornis whitei oweni,Sandhill Rufous Grasswren,all records
205,2021-07,Flora,Plants,Shrub,E04842,Phebalium calcicola,Limestone Phebalium,all records
206,2021-08,Flora,Plants,Orchids,E04382,Caladenia White spider orchid group,White Spider-orchid,all records
207,2021-08,Flora,Plants,Ferns & Allies,ALA concept,Doodia caudata,NaN,all records

Write dataframe to CSV

In [19]:
# sasensitive.to_csv("~/IdeaProjects/authoritative-lists/current-lists/sensitive-lists/SA-sensitive.csv",encoding="UTF-8",index=False)
sasensitive.to_csv(projectDir + sdataDir + "SA-sensitive.csv", encoding="UTF-8", index=False)

# Manual List check

**Instructions**
1. Load the lists above into the lists-test tool
2. Check the list name matching score and the text appearance on species pages
3. Unskip the code below and Run the reports below to compare to production. Send the changelog.csv to check. Correct any issues.
4. Save the production list into the `historical lists` directory by uncommenting the code section below.
5. Load the lists into production

### Conservation List - Download old and new and compare

In [ ]:
# %%script echo skipping # comment this line to run this code
import datetime
monthStr = datetime.datetime.now().strftime('%Y%m')

In [ ]:
ltype = "C"
# conservation
filename = "SA-conservation.csv"
prodListUrl = lf.build_list_url("dr653")
testListUrl = lf.build_list_url("dr653")

changelist = lf.get_changelist(testListUrl, prodListUrl, ltype)
# save the lists locally
changelist.to_csv(projectDir + "analysis/change-log/" + monthStr + "-" + filename, encoding="UTF-8", index=False)
changelist

### Download Production lists to Historical Lists directory

In [ ]:
prodList = lf.download_ala_list(prodListUrl)  # save the prod list to the historical lists directory
prodList = lf.kvp_to_columns(prodList)
prodList.to_csv(projectDir + "historical-lists/conservation/" + filename, encoding="UTF-8", index=False)
print('Finished downloading historical list')

### Sensitive List - Download old and new and compare

In [3]:
# %%script echo skipping # comment this line to run this code
ltype = "S"
filename = "SA-sensitive.csv"
prodListUrl = lf.build_list_url("dr884")
testListUrl = lf.build_list_url("dr18706")
changelist = lf.get_changelist(testListUrl, prodListUrl, ltype)
# save the lists locally
changelist.to_csv(projectDir + "analysis/change-log/" + monthStr + "-" + filename, encoding="UTF-8", index=False)
changelist

,name,commonName_new,scientificName_new,listUpdate,commonName_old,scientificName_old
1,Calyptorhynchus lathami halmaturinus,Glossy Black-cockatoo (kangaroo Island Subspec...,Calyptorhynchus (Calyptorhynchus) lathami halm...,added,NaN,NaN
7,Lophochroa leadbeateri,Major Mitchell's Cockatoo,Lophochroa leadbeateri,added,NaN,NaN
9,Neophema splendida,Scarlet-chested Parrot,Neophema (Neophema) splendida,added,NaN,NaN
10,Pandion haliaetus cristatus,Fish Hawk,Pandion haliaetus cristatus,added,NaN,NaN
13,Zanda funerea whiteae,Yellow-tailed Black Cockatoo,Zanda funerea whiteae,added,NaN,NaN
...,...,...,...,...,...,...
245,Diuris behrii subsp. behrii,NaN,NaN,removed,None,Diuris behrii subsp. behrii
246,Ixodia achillaeoides subsp. arenicola,NaN,NaN,removed,None,Ixodia achillaeoides subsp. arenicola
247,Asplenium bulbiferum subsp. gracillimum,NaN,NaN,removed,Mother Spleenwort,Asplenium bulbiferum subsp. gracillimum
248,Asplenium bulbiferum,NaN,NaN,removed,Hen And Chickens,Asplenium bulbiferum
251,Polytelis anthopeplus,NaN,NaN,removed,Regent Parrot,Polytelis anthopeplus

### Download Production lists to Historical Lists directory

In [ ]:
prodList = lf.download_ala_list(prodListUrl) # save the prod list to the historical lists directory
prodList = lf.kvp_to_columns(prodList)
prodList.to_csv(projectDir + "historical-lists/sensitive/" + filename, encoding="UTF-8", index=False)
print('Finished downloading historical list')