# SA Conservation and Sensitive Lists
Import fauna and vascular plants taxonomies from BDBSA and export lists for use in the ALA

## List Identifiers
* Conservation list: __[dr653](https://lists.ala.org.au/speciesListItem/list/dr653)__
* Sensitive list: __[dr884](https://lists.ala.org.au/speciesListItem/list/dr884)__

In [1]:
#import essential libraries
import pandas as pd
import numpy as np

## Conservation list
Read Excel files into dataframes from these sources:
 Fauna: [metadata](https://www.environment.sa.gov.au/topics/science/information-and-data/census-of-sa-vertebrates) and [BDBSA taxonomy](https://data.environment.sa.gov.au/Content/Publications/fauna-bdbsa-taxonomy.xlsx)
 Flora: [metadata](https://www.environment.sa.gov.au/topics/science/information-and-data/census-of-sa-plants-algae-fungi) and [BDBSA taxonomy](https://data.environment.sa.gov.au/Content/Publications/vascular-plants-bdbsa-taxonomy.xlsx)

## Fauna

In [79]:
fauna = pd.read_excel("~/IdeaProjects/authoritative-lists/source-data/South Australia/fauna-bdbsa-taxonomy.xlsx",sheet_name="Taxonomic List")
fauna

,NOTE:Fish taxonomy is under review. The fish species are not complete and taxonomic order unchecked (species listed in blue).,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Invertebrate taxonomy is now being included as...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Over recent years many bird subspecies have be...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TEMPORARY TAXONOMIC SORT ORDER,SPECIESTYPE,CLASSNAME (CLASSGROUP for Inverts),ORDERNAME,FAMILYNAME,COMMON NAME,NSXCODE,GENUS,SP,SCIENTIFIC NAME,INTRODUCED,NPW ACT STATUS,NPW ACT STATUS COMMENTS,EPBC ACT STATUS,EPBC ACT STATUS COMMENTS,OFFICIAL SPECIES COMMENTS,DATE CREATED IN BDBSA,DATE TAXONOMY MODIFIED IN BDBSA,SPECIES AUTHOR,SUBSPECIES AUTHOR
3,1,M,MAMMALIA,MONOTREMATA,ORNITHORHYNCHIDAE,Platypus,S01001,Ornithorhynchus,anatinus,Ornithorhynchus anatinus,NaN,E,NaN,NaN,NaN,"Introduced to Kangaroo Island (1928-1946, exta...",32933,37561,"(Shaw, 1799)",NaN
4,2,M,MAMMALIA,MONOTREMATA,ORNITHORHYNCHIDAE,NaN,E10510,Ornithorhynchus,sp.,Ornithorhynchus sp.,NaN,NaN,NaN,NaN,NaN,NaN,32933,37561,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4036,4034,I,INVERTEBRATES,HYMENOPTERA,FORMICIDAE,Genus of ants,Y11508,Zasphinctus,sp.,Zasphinctus sp.,NaN,NaN,NaN,NaN,NaN,NaN,2021-07-23 00:00:00,NaN,NaN,NaN
4037,4035,I,INVERTEBRATES,HYMENOPTERA,HYMENOPTERA (ORDER),NaN,U11238,HYMENOPTERA,sp.,HYMENOPTERA sp.,NaN,NaN,NaN,NaN,NaN,NaN,2019-05-07 00:00:00,NaN,"(Meigen, 1826)",NaN
4038,4036,I,INVERTEBRATES,SCORPIONES,SCORPIONES (ORDER),Scorpions,G15147,SCORPIONES,sp.,SCORPIONES sp.,NaN,NaN,NaN,NaN,NaN,NaN,2018-08-24 00:00:00,NaN,NaN,NaN
4039,4037,I,INVERTEBRATES,MESOSTIGMATA,MESOSTIGMATA (ORDER),an order of mites,K11189,MESOSTIGMATA,sp.,MESOSTIGMATA sp.,NaN,NaN,NaN,NaN,NaN,NaN,2018-09-07 00:00:00,NaN,NaN,NaN
4040,4038,I,INVERTEBRATES,SPONGILLIDA,SPONGILLIDAE,Freshwater Sponges,G15171,SPONGILLIDAE,sp.,SPONGILLIDAE sp.,NaN,NaN,NaN,NaN,NaN,NaN,2019-04-01 00:00:00,NaN,"Gray, 1867",NaN

Fixes to fauna file:
* set dataframe names to line 2
* remove first 3 lines
* filter by NPW ACT Status is one of : E, V or R. Expand this value to the status field
* rename the columns to DwC friendly names
* remove some unwanted columns

In [1]:
fauna.columns = fauna.iloc[2]
fauna = fauna[3:]
fauna = fauna[fauna['NPW ACT STATUS'].isin(['R','V','E'])]
fauna["status"] = np.where(fauna['NPW ACT STATUS'] == "E",'Endangered',
                           np.where(fauna['NPW ACT STATUS'] == "R",'Rare',
                                    np.where(fauna['NPW ACT STATUS'] == "V",'Vulnerable','UNK')))
fauna = fauna.rename(columns=
{
    'CLASSNAME (CLASSGROUP for Inverts)':'class',
    'ORDERNAME':'order',
    'FAMILYNAME':'family',
    'COMMON NAME':'vernacularName',
    'NSXCODE':'taxonID',
    'GENUS':'genus',
    'SP':'species',
    'SCIENTIFIC NAME':'scientificName',
    'NPW ACT STATUS':'sourceStatus',
    'NPW ACT STATUS COMMENTS':'npwActStatusComments',
    'EPBC ACT STATUS':'epbcStatus',
    'EPBC ACT STATUS COMMENTS':'epbcActStatusComments',
    'OFFICIAL SPECIES COMMENTS':'taxonRemarks',
    'DATE CREATED IN BDBSA':'bdbsaCreatedDate',
    'DATE TAXONOMY MODIFIED IN BDBSA':'bdbsaModifiedDate',
    'SPECIES AUTHOR':'scientificNameAuthorship',
    'SUBSPECIES AUTHOR':'subspeciesAuthor'
})
fauna.drop(['TEMPORARY TAXONOMIC SORT ORDER','SPECIESTYPE','INTRODUCED'],axis=1,inplace=True)
fauna

NameError: name 'fauna' is not defined

## Flora

In [94]:
flora = pd.read_excel("~/IdeaProjects/authoritative-lists/source-data/South Australia/vascular-plants-bdbsa-taxonomy.xlsx",sheet_name="Taxonomic list")
flora

,TEMPORARY TAXONOMIC SORT ORDER,MAJOR GROUP,FAMILYNAME,COMMON NAME,NSXCODE,GENUS,SP,SUBSPECIES,SCIENTIFIC NAME,INTRODUCED,NPWSA ACT STATUS,NPWSA ACT STATUS COMMENT,EPBC ACT STATUS,EPBC ACT STATUS COMMENT,Weed of National Significance,NRM ACT Weed Status,CREATIONDATE,MODIFIEDDATE,SPECIES with AUTHOR
0,1,Pteridophyta,PSILOTACEAE,Skeleton Fork-fern,U05218,Psilotum,nudum,,Psilotum nudum,NaN,E,Currently Extinct in the wild in SA,NaN,NaN,NaN,NaN,1992-11-13,NaT,Psilotum nudum (L.)P.Beauv.
1,2,Pteridophyta,LYCOPODIACEAE,Clubmoss Family,Y15092,Lycopodiaceae,sp.,,Lycopodiaceae sp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990-10-02,NaT,Lycopodiaceae sp.
2,3,Pteridophyta,LYCOPODIACEAE,Slender Clubmoss,Y00020,Lycopodiella,lateralis,,Lycopodiella lateralis,NaN,R,NaN,NaN,NaN,NaN,NaN,1990-10-02,1992-11-13,Lycopodiella lateralis (R.Br.)B.Ollg.
3,4,Pteridophyta,LYCOPODIACEAE,Bog Clubmoss,K00021,Lycopodiella,serpentina,,Lycopodiella serpentina,NaN,E,NaN,NaN,NaN,NaN,NaN,1990-10-02,1992-11-13,Lycopodiella serpentina (Kunze)B.Ollg.
4,5,Pteridophyta,LYCOPODIACEAE,Clubmoss,W10607,Lycopodiella,sp.,,Lycopodiella sp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990-10-02,1993-11-30,Lycopodiella sp.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6163,6164,Angiospermae,ORCHIDACEAE,Brilliant Sun-orchid,G00867,Thelymitra,x mackibbinii,,Thelymitra x mackibbinii,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990-10-02,1995-02-10,Thelymitra x mackibbinii F.Muell.
6164,6165,Angiospermae,ORCHIDACEAE,Crimson Sun-orchid,Y00868,Thelymitra,macmillanii,,Thelymitra X macmillanii,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990-10-02,2005-11-29,Thelymitra X macmillanii F.Muell.
6165,6166,Angiospermae,ORCHIDACEAE,NaN,Y03672,Thelymitra,merraniae,,Thelymitra X merraniae,NaN,E,"EN D, updated null to E, Apr 2007",NaN,NaN,NaN,NaN,1990-10-02,2005-05-10,Thelymitra X merraniae Nicholls
6166,6167,Angiospermae,ORCHIDACEAE,Hybrid Sun-orchid,C04797,Thelymitra,truncata,,Thelymitra X truncata,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990-10-02,2005-11-29,Thelymitra X truncata R.S.Rogers
6167,6168,Angiospermae,ORCHIDACEAE,NaN,Q04388,Glossadenia,tutelata,,X Glossadenia tutelata,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990-10-02,2008-05-21,X Glossadenia tutelata (R.S.Rogers)Kellermann

Fixes to flora file:
* filter by NPW ACT Status is one of : E, V or R. Expand this value to the status field
* rename the columns to DwC friendly names
* remove some unwanted columns

In [95]:
flora = flora[flora['NPWSA ACT STATUS'].isin(['R','V','E','R*','V*','E*'])]
flora["status"] = np.where(flora['NPWSA ACT STATUS'].str.startswith('E'),'Endangered',
                           np.where(flora['NPWSA ACT STATUS'].str.startswith('R'),'Rare',
                                    np.where(flora['NPWSA ACT STATUS'].str.startswith('V'),'Vulnerable','UNK')))
flora = flora.rename(columns=
{
    'MAJOR GROUP':'majorGroup',
    'FAMILYNAME':'family',
    'COMMON NAME':'vernacularName',
    'NSXCODE':'taxonID',
    'GENUS':'genus',
    'SP':'species',
    'SUBSPECIES':'subSpecies',
    'SCIENTIFIC NAME':'scientificName',
    'NPWSA ACT STATUS':'sourceStatus',
    'NPWSA ACT STATUS COMMENT':'npwActStatusComments',
    'EPBC ACT STATUS':'epbcStatus',
    'EPBC ACT STATUS COMMENT':'epbcActStatusComments',
    'Weed of National Significance':'weedOfNationalSignificance',
    'NRM ACT Weed Status':'nrmActWeedStatus',
    'CREATIONDATE':'bdbsaCreatedDate',
    'MODIFIEDDATE':'bdbsaModifiedDate',
    'SPECIES with AUTHOR':'scientificNameAuthorship'
})
flora.drop(['TEMPORARY TAXONOMIC SORT ORDER','INTRODUCED'],axis=1,inplace=True)
flora

/var/folders/x5/g4flwxsd17z0b8vxsj8kcpyw00j52j/T/ipykernel_54274/3176920643.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flora["status"] = np.where(flora['NPWSA ACT STATUS'].str.startswith('E'),'Endangered',

,majorGroup,family,vernacularName,taxonID,genus,species,subSpecies,scientificName,sourceStatus,npwActStatusComments,epbcStatus,epbcActStatusComments,weedOfNationalSignificance,nrmActWeedStatus,bdbsaCreatedDate,bdbsaModifiedDate,scientificNameAuthorship,status
0,Pteridophyta,PSILOTACEAE,Skeleton Fork-fern,U05218,Psilotum,nudum,,Psilotum nudum,E,Currently Extinct in the wild in SA,NaN,NaN,NaN,NaN,1992-11-13,NaT,Psilotum nudum (L.)P.Beauv.,Endangered
2,Pteridophyta,LYCOPODIACEAE,Slender Clubmoss,Y00020,Lycopodiella,lateralis,,Lycopodiella lateralis,R,NaN,NaN,NaN,NaN,NaN,1990-10-02,1992-11-13,Lycopodiella lateralis (R.Br.)B.Ollg.,Rare
3,Pteridophyta,LYCOPODIACEAE,Bog Clubmoss,K00021,Lycopodiella,serpentina,,Lycopodiella serpentina,E,NaN,NaN,NaN,NaN,NaN,1990-10-02,1992-11-13,Lycopodiella serpentina (Kunze)B.Ollg.,Endangered
5,Pteridophyta,LYCOPODIACEAE,Bushy Clubmoss,W00019,Lycopodium,deuterodensum,,Lycopodium deuterodensum,E,NaN,NaN,NaN,NaN,NaN,1990-10-02,NaT,Lycopodium deuterodensum Herter,Endangered
6,Pteridophyta,LYCOPODIACEAE,Pigmy Clubmoss,M00022,Phylloglossum,drummondii,,Phylloglossum drummondii,R,NaN,NaN,NaN,NaN,NaN,1990-10-02,NaT,Phylloglossum drummondii Kunze,Rare
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6145,Angiospermae,ORCHIDACEAE,Spiral Sun-orchid,K00869,Thelymitra,matthewsii,,Thelymitra matthewsii,E,NaN,VU,2000-07-16 00:00:00,NaN,NaN,1990-10-02,NaT,Thelymitra matthewsii Cheeseman,Endangered
6151,Angiospermae,ORCHIDACEAE,Azure Sun-orchid,S06033,Thelymitra,occidentalis,,Thelymitra occidentalis,R,RA d(i),NaN,NaN,NaN,NaN,2005-05-10,NaT,Thelymitra occidentalis Jeanes,Rare
6153,Angiospermae,ORCHIDACEAE,Plum Sun-orchid,K32213,Thelymitra,orientalis,,Thelymitra orientalis,R,NaN,NaN,NaN,NaN,NaN,2011-02-03,NaT,Thelymitra orientalis R.J.Bates,Rare
6157,Angiospermae,ORCHIDACEAE,Blue Star Sun-orchid,S32209,Thelymitra,peniculata,,Thelymitra peniculata,V,Warning: Conservation status data auto-copied ...,NaN,NaN,NaN,NaN,2011-02-02,NaT,Thelymitra peniculata Jeanes,Vulnerable
6165,Angiospermae,ORCHIDACEAE,NaN,Y03672,Thelymitra,merraniae,,Thelymitra X merraniae,E,"EN D, updated null to E, Apr 2007",NaN,NaN,NaN,NaN,1990-10-02,2005-05-10,Thelymitra X merraniae Nicholls,Endangered

In [96]:
fauna.columns

Index(['class', 'order', 'family', 'vernacularName', 'taxonID', 'genus',
       'species', 'scientificName', 'sourceStatus', 'npwActStatusComments',
       'epbcStatus', 'epbcActStatusComments', 'taxonRemarks',
       'bdbsaCreatedDate', 'bdbsaModifiedDate', 'scientificNameAuthorship',
       'subspeciesAuthor', 'status'],
      dtype='object', name=2)

In [97]:
flora.columns

Index(['majorGroup', 'family', 'vernacularName', 'taxonID', 'genus', 'species',
       'subSpecies', 'scientificName', 'sourceStatus', 'npwActStatusComments',
       'epbcStatus', 'epbcActStatusComments', 'weedOfNationalSignificance',
       'nrmActWeedStatus', 'bdbsaCreatedDate', 'bdbsaModifiedDate',
       'scientificNameAuthorship', 'status'],
      dtype='object')

In [98]:
saList = pd.concat([fauna,flora])
saList

,class,order,family,vernacularName,taxonID,genus,species,scientificName,sourceStatus,npwActStatusComments,...,taxonRemarks,bdbsaCreatedDate,bdbsaModifiedDate,scientificNameAuthorship,subspeciesAuthor,status,majorGroup,subSpecies,weedOfNationalSignificance,nrmActWeedStatus
3,MAMMALIA,MONOTREMATA,ORNITHORHYNCHIDAE,Platypus,S01001,Ornithorhynchus,anatinus,Ornithorhynchus anatinus,E,NaN,...,"Introduced to Kangaroo Island (1928-1946, exta...",32933,37561,"(Shaw, 1799)",NaN,Endangered,NaN,NaN,NaN,NaN
7,MAMMALIA,MONOTREMATA,TACHYGLOSSIDAE,Short-beaked Echidna (Kangaroo Island),C21009,Tachyglossus,aculeatus multiaculeatus,Tachyglossus aculeatus multiaculeatus,E,Listing official as off 1/Jan/2020.,...,NaN,42188,43066,"(Rothschild, 1905)",NaN,Endangered,NaN,NaN,NaN,NaN
13,MAMMALIA,DASYUROMORPHIA,MYRMECOBIIDAE,Numbat,M01086,Myrmecobius,fasciatus,Myrmecobius fasciatus,E,Introduced,...,Original populations extinct in SA. Western Au...,1990-03-01 00:00:00,2002-11-01 00:00:00,"Waterhouse, 1836",NaN,Endangered,NaN,NaN,NaN,NaN
15,MAMMALIA,DASYUROMORPHIA,DASYURIDAE,Brush-tailed Mulgara (Mulgara),C04277,Dasycercus,blythi,Dasycercus blythi,E,NaN,...,There has been recent taxonomic revision of th...,2000-08-01 00:00:00,2012-03-23 00:00:00,"(Krefft, 1867)",NaN,Endangered,NaN,NaN,NaN,NaN
18,MAMMALIA,DASYUROMORPHIA,DASYURIDAE,Kowari,C01021,Dasyuroides,byrnei,Dasyuroides byrnei,E,Changed from V to E 1/Jan/2020.,...,The Vertebrates of South Australia (Robinson e...,1990-03-01 00:00:00,2012-08-28 00:00:00,"(Spencer, 1896)",NaN,Endangered,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6145,NaN,NaN,ORCHIDACEAE,Spiral Sun-orchid,K00869,Thelymitra,matthewsii,Thelymitra matthewsii,E,NaN,...,NaN,1990-10-02 00:00:00,NaT,Thelymitra matthewsii Cheeseman,NaN,Endangered,Angiospermae,,NaN,NaN
6151,NaN,NaN,ORCHIDACEAE,Azure Sun-orchid,S06033,Thelymitra,occidentalis,Thelymitra occidentalis,R,RA d(i),...,NaN,2005-05-10 00:00:00,NaT,Thelymitra occidentalis Jeanes,NaN,Rare,Angiospermae,,NaN,NaN
6153,NaN,NaN,ORCHIDACEAE,Plum Sun-orchid,K32213,Thelymitra,orientalis,Thelymitra orientalis,R,NaN,...,NaN,2011-02-03 00:00:00,NaT,Thelymitra orientalis R.J.Bates,NaN,Rare,Angiospermae,,NaN,NaN
6157,NaN,NaN,ORCHIDACEAE,Blue Star Sun-orchid,S32209,Thelymitra,peniculata,Thelymitra peniculata,V,Warning: Conservation status data auto-copied ...,...,NaN,2011-02-02 00:00:00,NaT,Thelymitra peniculata Jeanes,NaN,Vulnerable,Angiospermae,,NaN,NaN
6165,NaN,NaN,ORCHIDACEAE,NaN,Y03672,Thelymitra,merraniae,Thelymitra X merraniae,E,"EN D, updated null to E, Apr 2007",...,NaN,1990-10-02 00:00:00,2005-05-10 00:00:00,Thelymitra X merraniae Nicholls,NaN,Endangered,Angiospermae,,NaN,NaN

Write dataframe to CSV

In [ ]:
saList.to_csv("~/IdeaProjects/authoritative-lists/current-lists/conservation-lists/SA_Census_conservation.csv",index=False)

## Sensitive List

In [4]:
import xlrd
sasensitive = pd.read_excel("~/IdeaProjects/authoritative-lists/source-data/SA/DEW_SAEnvironmentallySensitiveDataREGISTER.xls")
sasensitive

,Date Listed,Fauna/Flora,SPECIESTYPE,Sub Grouping,SA Species Code (NSXCODE),SPECIES,COMMON NAME,Clarifier
0,Mar 2021,Fauna,Birds,NaN,A21180,Amytornis striatus howei,Striated Grasswren,all records
1,Dec 2018,Fauna,Birds,NaN,C00513,Amytornis striatus striatus (NC),Striated Grasswren,all records
2,Apr 2021,Fauna,Birds,NaN,M11286,Amytornis whitei (NC),Rufous Grasswren,all records
3,May 2021,Fauna,Birds,NaN,C21181,Amytornis whitei aenigma,Yellabinna Rufous Grasswren,all records
4,Jun 2021,Fauna,Birds,NaN,E21182,Amytornis whitei oweni,Sandhill Rufous Grasswren,all records
...,...,...,...,...,...,...,...,...
203,May 2013,Flora,Plants,Aquatics,Q05400,Utricularia beaugleholei,Beauglehole's Bladderwort,all records
204,May 2013,Flora,Plants,Aquatics,Q02760,Utricularia lateriflora,Small Bladderwort,all records
205,May 2013,Flora,Plants,Garden Trade -Other Ornamental Horticulture pl...,Z02151,Viola betonicifolia ssp. betonicifolia,Showy Violet,all records
206,May 2013,Flora,Plants,Aquatics,G05475,Wurmbea dioica ssp. lacunaria,Lagoon Nancy,all records
207,May 2013,Flora,Plants,Garden Trade -Other Ornamental Horticulture pl...,E04894,Xanthorrhoea minor ssp. lutea,Little Yacca,all records

In [5]:
sasensitive = sasensitive.rename(columns=
{
    'Date Listed':'dateListed',
    'Fauna/Flora':'faunaFlora',
    'SPECIESTYPE':'speciesType',
    'SA Species Code (NSXCODE)':'saSpeciesCode',
    'SPECIES':'scientificName',
    'COMMON NAME':'vernacularName',
    'Clarifier':'clarifier'
})
sasensitive

,dateListed,faunaFlora,speciesType,Sub Grouping,saSpeciesCode,scientificName,vernacularName,clarifier
0,Mar 2021,Fauna,Birds,NaN,A21180,Amytornis striatus howei,Striated Grasswren,all records
1,Dec 2018,Fauna,Birds,NaN,C00513,Amytornis striatus striatus (NC),Striated Grasswren,all records
2,Apr 2021,Fauna,Birds,NaN,M11286,Amytornis whitei (NC),Rufous Grasswren,all records
3,May 2021,Fauna,Birds,NaN,C21181,Amytornis whitei aenigma,Yellabinna Rufous Grasswren,all records
4,Jun 2021,Fauna,Birds,NaN,E21182,Amytornis whitei oweni,Sandhill Rufous Grasswren,all records
...,...,...,...,...,...,...,...,...
203,May 2013,Flora,Plants,Aquatics,Q05400,Utricularia beaugleholei,Beauglehole's Bladderwort,all records
204,May 2013,Flora,Plants,Aquatics,Q02760,Utricularia lateriflora,Small Bladderwort,all records
205,May 2013,Flora,Plants,Garden Trade -Other Ornamental Horticulture pl...,Z02151,Viola betonicifolia ssp. betonicifolia,Showy Violet,all records
206,May 2013,Flora,Plants,Aquatics,G05475,Wurmbea dioica ssp. lacunaria,Lagoon Nancy,all records
207,May 2013,Flora,Plants,Garden Trade -Other Ornamental Horticulture pl...,E04894,Xanthorrhoea minor ssp. lutea,Little Yacca,all records

Write dataframe to CSV

In [ ]:
sasensitive.to_csv("~/IdeaProjects/authoritative-lists/current-lists/sensitive-lists/SA-sensitive.csv",encoding="UTF-8",index=False)