
# WA Conservation & Sensitive Lists

### List Identifiers
* Conservation list: __[dr2201](https://lists.ala.org.au/speciesListItem/list/dr2201)__ (and [dr2201 in test](https://lists-test.ala.org.au/speciesListItem/list/dr2201))
* Sensitive list: __[dr467](https://lists.ala.org.au/speciesListItem/list/dr467)__ (and [dr18406 in test](https://lists-test.ala.org.au/speciesListItem/list/dr18406))

### Source Data

* __[WA Dept of Biodiversity, Conservation and Attractions, Parks and Wildlife, Threatened Species Information](https://www.dpaw.wa.gov.au/plants-and-animals/threatened-species-and-communities)__
* __[Threatened and Priority Fauna List 7 October 2022.xlsx](https://www.dpaw.wa.gov.au/images/Threatened%20and%20Priority%20Fauna%20List%207%20October%202022.xlsx)__
* __[Threatened and Priority Flora List 6 October 2022.xlsx](https://www.dpaw.wa.gov.au/images/documents/plants-animals/threatened-species/Listings/Threatened%20and%20Priority%20Flora%20List_6%20October%202022.xlsx)__
* __[Conservation Codes Listing](https://www.dpaw.wa.gov.au/images/Conservation%20codes%20for%20Western%20Australian%20Flora%20and%20Fauna%20179KB.pdf)__

**Metadata Description**
The Biodiversity Conservation Act 2016 provides for the listing of threatened native plants (flora), threatened native animals (fauna) and threatened ecological communities that need protection as critically endangered, endangered or vulnerable species or ecological communities because they are under identifiable threat of extinction (species) or collapse (ecological communities).

The Western Australian Threatened Species Scientific Committee and the Threatened Ecological Communities Scientific Committee review nominations to list, delist or change the threat status of threatened species and ecological communities, and use the International Union for Conservation of Nature Red List criteria for assigning species and communities to threat categories.

This list is a concatenation of the WA flora and fauna state lists which have been downloaded from https://www.dpaw.wa.gov.au/images/documents/plants-animals/threatened-species/Listings/Threatened%20and%20Priority%20Flora%20List_6%20October%202022.xlsx and https://www.dpaw.wa.gov.au/images/Threatened%20and%20Priority%20Fauna%20List%207%20October%202022.xlsx and parsed for use in the Atlas of Living Australia.

**Metadata URL**
https://www.dpaw.wa.gov.au/plants-and-animals/threatened-species-and-communities

**Note:**
* WA uses the same data files for both conservation and sensitive lists.
* Fauna and Flora are in separate files and have different formats. The files are processed separately and then concatenated into a single file.

## 1. Prep
Import libraries
Set project directories
Download files if necessary

In [18]:
import pandas as pd
import numpy as np
import requests

# projectDir = "/Users/new330/IdeaProjects/authoritative-lists/"
projectDir = "/Users/oco115/PycharmProjects/authoritative-lists/"
sourceDataDir = projectDir + "source-data/WA/"
processedDataDir = projectDir + "current-lists/"
statusDir = projectDir + "source-data/status-codes/"

faunafilename = sourceDataDir + "Threatened and Priority Fauna List 7 October2022.csv"
florafilename = sourceDataDir + "Threatened and Priority Flora List 6 October2022.csv"

In [19]:
# %%script echo skipping # comment this line to download the files and save locally

print("Downloading fauna file to:" + faunafilename)
faunaurl = "https://www.dpaw.wa.gov.au/images/Threatened%20and%20Priority%20Fauna%20List%207%20October%202022.xlsx"
c = requests.get(faunaurl).content
fauna = pd.read_excel(c)
fauna.to_csv(faunafilename)

print("Downloading flora file to:" + florafilename)
floraurl = "https://www.dpaw.wa.gov.au/images/documents/plants-animals/threatened-species/Listings/Threatened%20and%20Priority%20Flora%20List_6%20October%202022.xlsx"
c = requests.get(floraurl).content
flora = pd.read_excel(c, dtype=str)
flora.to_csv(florafilename)

Downloading fauna file to:/Users/oco115/PycharmProjects/authoritative-lists/source-data/WA/Threatened and Priority Fauna List 7 October2022.csv
Downloading flora file to:/Users/oco115/PycharmProjects/authoritative-lists/source-data/WA/Threatened and Priority Flora List 6 October2022.csv

## 2. WA Fauna

In [20]:
fauna = pd.read_csv(faunafilename, dtype=str)
fauna.head(3)

,Unnamed: 0,Scientific name,Common name,Class,WA listing,National listing,Kimberley,Pilbara,Goldfields,Midwest,Wheatbelt,South Coast,Swan,South West,Warren,WA listing.1,Notes
0,0,Abebaioscia troglodytes,Pannikin Plain Cave isopod,INVERTEBRATE,VU,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,Threatened species - Vulnerable under the Biod...,NaN
1,1,Acanthophis antarcticus,southern death adder,REPTILE,P3,NaN,NaN,NaN,X,NaN,X,X,X,NaN,NaN,DBCA Priority species.,NaN
2,2,Acercella poorginup,Poorginup Swamp watermite,INVERTEBRATE,P2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,DBCA Priority species.,NaN

Summarise locality fields
‘X’ is marked in locality where the species is found - put into a single field

In [21]:
# summarise the locality
df = fauna.iloc[:,6:15].copy()
v = np.where(df == "X")
fauna['locality'] = (pd.DataFrame(df.columns[v[1]], index=df.index[v[0]], columns=['result']).groupby(level=0).agg(','.join).reindex(df.index))
fauna.iloc[:,[6,7,8,9,10,11,12,13,14,-1]].drop_duplicates() # just to demonstrate

,Kimberley,Pilbara,Goldfields,Midwest,Wheatbelt,South Coast,Swan,South West,Warren,locality
0,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,South Coast
1,NaN,NaN,X,NaN,X,X,X,NaN,NaN,"Goldfields,Wheatbelt,South Coast,Swan"
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,Warren
5,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kimberley
6,X,X,X,X,X,X,X,X,X,"Kimberley,Pilbara,Goldfields,Midwest,Wheatbelt..."
...,...,...,...,...,...,...,...,...,...,...
484,NaN,NaN,X,NaN,X,X,NaN,NaN,NaN,"Goldfields,Wheatbelt,South Coast"
505,X,X,NaN,NaN,NaN,NaN,X,NaN,NaN,"Kimberley,Pilbara,Swan"
511,NaN,NaN,NaN,X,NaN,X,NaN,X,X,"Midwest,South Coast,South West,Warren"
512,X,NaN,NaN,NaN,X,NaN,X,NaN,NaN,"Kimberley,Wheatbelt,Swan"
514,NaN,NaN,NaN,X,NaN,X,X,X,NaN,"Midwest,South Coast,Swan,South West"

Map status values

In [22]:
conservationCodesMapping = {
    'CR':'Critically Endangered',
    'EN':'Endangered',
    'VU':'Vulnerable',
    'EX':'Extinct',
    'EW':'Extinct in the Wild',
    'SP':'Specially Protected',
    'MI':'Migratory',
    'CD':'Conservation Dependent',
    'CD & MI':'Conservation Dependent',
    'OS':'Other Specially Protected',
    'P1':'Priority 1: Poorly-known species',
    'P2':'Priority 2: Poorly-known species',
    'P3':'Priority 3: Poorly-known species',
    'P4':'Priority 4: Rare, Near Threatened',
    'MI & P1':'Priority 1: Poorly-known species',
    'MI & P3':'Priority 2: Poorly-known species',
    'MI & P4':'Priority 4: Rare, Near Threatened'
}
statusLongDescriptionMapping = {
    'Priority 1: Poorly-known species':'Priority 1: Poorly-known species - known from few locations, none on conservation lands',
    'Priority 2: Poorly-known species':'Priority 2: Poorly-known species - known from few locations, some on conservation lands',
    'Priority 3: Poorly-known species':'Priority 3: Poorly-known species - known from several locations',
    'Priority 4: Rare, Near Threatened':'Priority 4: Rare, Near Threatened and other species in need of monitoring'
}

In [23]:
fauna['WA listing'].unique()

array(['VU', 'P3', 'P2', 'MI', 'CR', 'P1', 'P4', 'EN', 'OS', 'EX', 'CD',
       'CD & MI', 'MI & P4', 'MI & P1', 'MI & P3'], dtype=object)

In [24]:

fauna['status'] = fauna['WA listing'].str.strip().map(conservationCodesMapping).fillna(fauna['WA listing'])
fauna['status description'] = fauna['status'].map(statusLongDescriptionMapping).fillna(fauna['status'])
fauna[['WA listing','status','status description']].drop_duplicates()

,WA listing,status,status description
0,VU,Vulnerable,Vulnerable
1,P3,Priority 3: Poorly-known species,Priority 3: Poorly-known species - known from ...
2,P2,Priority 2: Poorly-known species,Priority 2: Poorly-known species - known from ...
5,MI,Migratory,Migratory
7,CR,Critically Endangered,Critically Endangered
10,P1,Priority 1: Poorly-known species,Priority 1: Poorly-known species - known from ...
14,P4,"Priority 4: Rare, Near Threatened","Priority 4: Rare, Near Threatened and other sp..."
27,EN,Endangered,Endangered
40,OS,Other Specially Protected,Other Specially Protected
84,EX,Extinct,Extinct
86,CD,Conservation Dependent,Conservation Dependent
357,CD & MI,Conservation Dependent,Conservation Dependent
417,MI & P4,"Priority 4: Rare, Near Threatened","Priority 4: Rare, Near Threatened and other sp..."
471,MI & P1,Priority 1: Poorly-known species,Priority 1: Poorly-known species - known from ...
472,MI & P3,Priority 2: Poorly-known species,Priority 2: Poorly-known species - known from ...

## 3. WA Flora

In [25]:
flora = pd.read_csv(florafilename)
flora.head(3)

,Unnamed: 0,Name ID,Taxon,WA Status,WA Rank,WA IUCN Criteria,EPBC,DBCA Region,DBCA District,Distribution,Flowering Period,Recovery Plan,Notes
0,0,50593,Abildgaardia pachyptera,1,NaN,NaN,NaN,KIMB,EAST KIMBERLEY,Mitchell Plateau,Feb-Mar,NaN,NaN
1,1,14112,Abutilon sp. Hamelin (A.M. Ashby 2196),2,NaN,NaN,NaN,MWST,SHARK BAY,"Shark Bay, Hamelin Pool, Yaringa Stn",Jul-Sep,NaN,NaN
2,2,14110,Abutilon sp. Onslow (F. Smith s.n. 10/9/61),3,NaN,NaN,NaN,PILB,KARRATHA,"Onslow, Yaraloola Stn",Sep,NaN,NaN

Map status values

In [26]:
flora[[' WA Status','WA Rank']].drop_duplicates()

     WA Status WA Rank
0            1     NaN
1            2     NaN
2            3     NaN
8            4     NaN
16           T      VU
20           T      CR
23           T      EN
131          X      EX

In [27]:
def setflorastatus(row):
    status = row[' WA Status']
    rank = row['WA Rank']
    s = "Unknown"
    if status == 'T':
        if rank == 'VU':
            s = "Vulnerable"
        elif rank == 'CR':
            s = "Critically Endangered"
        elif rank == 'EN':
            s = "Endangered"
    elif status == 'X':
        s = "Extinct"
    elif status == '1':
        s = 'Priority 1: Poorly-known species'
    elif status == '2':
        s = 'Priority 2: Poorly-known species'
    elif status == '3':
        s = 'Priority 3: Poorly-known species'
    elif status == '4':
        s = 'Priority 4: Rare, Near Threatened'
    return s
flora = flora.assign(status = flora.apply(setflorastatus,axis=1))
flora['status description'] = flora['status'].map(statusLongDescriptionMapping).fillna(flora['status'])
flora['sourceStatus'] = flora.apply(lambda x: "P"+x[' WA Status'] if pd.isnull(x['WA Rank']) else x['WA Rank'],axis=1)
flora[[' WA Status','WA Rank','status','sourceStatus','status description']].drop_duplicates()

,WA Status,WA Rank,status,sourceStatus,status description
0,1,NaN,Priority 1: Poorly-known species,P1,Priority 1: Poorly-known species - known from ...
1,2,NaN,Priority 2: Poorly-known species,P2,Priority 2: Poorly-known species - known from ...
2,3,NaN,Priority 3: Poorly-known species,P3,Priority 3: Poorly-known species - known from ...
8,4,NaN,"Priority 4: Rare, Near Threatened",P4,"Priority 4: Rare, Near Threatened and other sp..."
16,T,VU,Vulnerable,VU,Vulnerable
20,T,CR,Critically Endangered,CR,Critically Endangered
23,T,EN,Endangered,EN,Endangered
131,X,EX,Extinct,EX,Extinct

## 3. Concatenate Flora and Fauna dataframes

In [28]:
flora.head(5)

,Unnamed: 0,Name ID,Taxon,WA Status,WA Rank,WA IUCN Criteria,EPBC,DBCA Region,DBCA District,Distribution,Flowering Period,Recovery Plan,Notes,status,status description,sourceStatus
0,0,50593,Abildgaardia pachyptera,1,NaN,NaN,NaN,KIMB,EAST KIMBERLEY,Mitchell Plateau,Feb-Mar,NaN,NaN,Priority 1: Poorly-known species,Priority 1: Poorly-known species - known from ...,P1
1,1,14112,Abutilon sp. Hamelin (A.M. Ashby 2196),2,NaN,NaN,NaN,MWST,SHARK BAY,"Shark Bay, Hamelin Pool, Yaringa Stn",Jul-Sep,NaN,NaN,Priority 2: Poorly-known species,Priority 2: Poorly-known species - known from ...,P2
2,2,14110,Abutilon sp. Onslow (F. Smith s.n. 10/9/61),3,NaN,NaN,NaN,PILB,KARRATHA,"Onslow, Yaraloola Stn",Sep,NaN,NaN,Priority 3: Poorly-known species,Priority 3: Poorly-known species - known from ...,P3
3,3,43021,Abutilon sp. Pritzelianum (S. van Leeuwen 5095),3,NaN,NaN,NaN,"MWST,PILB","KARRATHA,GERALDTON","Carnarvon, Port Headland, Lake McLeod, Gascoyn...","Jun, Aug-Sep",NaN,NaN,Priority 3: Poorly-known species,Priority 3: Poorly-known species - known from ...,P3
4,4,14114,Abutilon sp. Quobba (H. Demarz 3858),2,NaN,NaN,NaN,"MWST,PILB","EXMOUTH,GERALDTON,SHARK BAY","Quobba, Cape Range, Muggon Stn., Canarvon, Dor...",Jul-Oct,NaN,NaN,Priority 2: Poorly-known species,Priority 2: Poorly-known species - known from ...,P2

In [12]:
fauna.head(5)

,Unnamed: 0,Scientific name,Common name,Class,WA listing,National listing,Kimberley,Pilbara,Goldfields,Midwest,Wheatbelt,South Coast,Swan,South West,Warren,WA listing.1,Notes,locality,status,status description
0,0,Abebaioscia troglodytes,Pannikin Plain Cave isopod,INVERTEBRATE,VU,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,Threatened species - Vulnerable under the Biod...,NaN,South Coast,Vulnerable,Vulnerable
1,1,Acanthophis antarcticus,southern death adder,REPTILE,P3,NaN,NaN,NaN,X,NaN,X,X,X,NaN,NaN,DBCA Priority species.,NaN,"Goldfields,Wheatbelt,South Coast,Swan",Priority 3: Poorly-known species,Priority 3: Poorly-known species - known from ...
2,2,Acercella poorginup,Poorginup Swamp watermite,INVERTEBRATE,P2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,DBCA Priority species.,NaN,Warren,Priority 2: Poorly-known species,Priority 2: Poorly-known species - known from ...
3,3,Acizzia mccarthyi,McCarthy's plant-louse,INVERTEBRATE,VU,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,Threatened species - Vulnerable under the Biod...,NaN,South Coast,Vulnerable,Vulnerable
4,4,Acizzia veski,Vesk's plant-louse,INVERTEBRATE,VU,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,Threatened species - Vulnerable under the Biod...,NaN,South Coast,Vulnerable,Vulnerable

In [29]:
# line up the fields
# flora = flora.drop(['Flowering Period', 'WA IUCN Criteria','Recovery Plan'], axis=1)
flora['sourceStatus'] = flora.apply(lambda x: "P"+x[' WA Status'] if pd.isnull(x['WA Rank']) else x['WA Rank'],axis=1)
# flora['DBCA District'] = flora['DBCA District'].str.title()
flora = flora.rename(columns=
         {'Taxon': 'scientificName'
          })
# flora['taxonId'] = flora['taxonId'].astype(str)
fauna = fauna.rename(columns=
        {'Scientific name': 'scientificName',
         'Common name': 'vernacularName',
         'WA listing': 'sourceStatus'
        })

In [12]:
#fauna = fauna[['scientificName','vernacularName','waListing','locality','status']]
#flora = flora[['taxonId','scientificName','sourceStatus','waRank','region']

In [30]:
floraandfauna = pd.concat([flora, fauna], axis=0, ignore_index=True, sort=False)

In [31]:
floraandfauna.columns

Index(['Unnamed: 0', 'Name ID', 'scientificName', ' WA Status', 'WA Rank',
       'WA IUCN Criteria', 'EPBC', 'DBCA Region', 'DBCA District',
       'Distribution', 'Flowering Period', 'Recovery Plan', 'Notes', 'status',
       'status description', 'sourceStatus', 'vernacularName', 'Class',
       'National listing', 'Kimberley', 'Pilbara', 'Goldfields', 'Midwest',
       'Wheatbelt', 'South Coast', 'Swan', 'South West', 'Warren',
       'WA listing.1', 'locality'],
      dtype='object')

In [32]:
# floraandfauna['sensitivityZoneId'] = "WA"
# floraandfauna['category'] = floraandfauna['sourceStatus']
floraandfauna = floraandfauna[['scientificName','vernacularName','status','sourceStatus']]

In [16]:
floraandfauna

,scientificName,vernacularName,status,sourceStatus
0,Abildgaardia pachyptera,NaN,Priority 1: Poorly-known species,P1
1,Abutilon sp. Hamelin (A.M. Ashby 2196),NaN,Priority 2: Poorly-known species,P2
2,Abutilon sp. Onslow (F. Smith s.n. 10/9/61),NaN,Priority 3: Poorly-known species,P3
3,Abutilon sp. Pritzelianum (S. van Leeuwen 5095),NaN,Priority 3: Poorly-known species,P3
4,Abutilon sp. Quobba (H. Demarz 3858),NaN,Priority 2: Poorly-known species,P2
...,...,...,...,...
4450,Zephyrarchaea mainae,Main's assassin spider,Vulnerable,VU
4451,Zephyrarchaea marki,Cape Le Grand assassin spider,Vulnerable,VU
4452,Zephyrarchaea melindae,Toolbrunup assassin spider,Vulnerable,VU
4453,Zephyrarchaea robinsi,eastern massif assassin spider,Vulnerable,VU
4454,Zyzomys pedunculatus,"central rock-rat, antina",Critically Endangered,CR

Write dataframe to both conservation and sensitive CSV files - UTF-8 encoding

In [17]:
floraandfauna.to_csv(projectDir + "current-lists/conservation-lists/WA-conservation-20230601.csv", encoding="UTF-8",index=False)

In [33]:
sensitivelist = floraandfauna[['scientificName', 'vernacularName']]
sensitivelist['generalisation'] = "10 km"
sensitivelist.to_csv(projectDir + "current-lists/sensitive-lists/WA-sensitive-20230601.csv", encoding="UTF-8", index=False)

C:\Users\oco115\AppData\Local\Temp/ipykernel_5488/1077903115.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sensitivelist['generalisation'] = "10 km"

# Manual List check

* Conservation list: __[dr2201](https://lists.ala.org.au/speciesListItem/list/dr2201)__ (and [dr2201 in test](https://lists-test.ala.org.au/speciesListItem/list/dr2201))
* Sensitive list: __[dr467](https://lists.ala.org.au/speciesListItem/list/dr467)__ (and [dr18406 in test](https://lists-test.ala.org.au/speciesListItem/list/dr18406))

**Instructions**
1. Load the lists above into the lists-test tool
2. Check the list name matching score and the text appearance on species pages
3. Unskip the below code and Run the reports below to compare to production. Send the changelog.csv to check. Correct any issues.
4. Save the production list into the `historical lists` directory by uncommenting the code section below.
5. Load the lists into production

In [16]:
# prep
import sys
import os
sys.path.append(os.path.abspath(projectDir + "source-code/includes"))
import list_functions as lf
import datetime
monthStr = datetime.datetime.now().strftime('%Y%m')

In [ ]:
%%script echo skipping # comment this line to do a list check between test and production and save the changelog
# Conservation
ltype = "C"
filename = "WA-conservation.csv"
prodListUrl = "https://lists.ala.org.au/ws/speciesListItems/" + "dr2201" + "?max=10000&includeKVP=true"
testListUrl = "https://lists-test.ala.org.au/ws/speciesListItems/" + "dr2201" + "?max=10000&includeKVP=true"
changelist = lf.get_changelist(testListUrl, prodListUrl, ltype)
changelist.to_csv(projectDir + "analysis/change-log/" + monthStr + "-" + filename, encoding="UTF-8", index=False)
print("conservation changelist done")

### Download Production lists to Historical Lists directory

In [ ]:
%%script echo skipping # comment this line to do a list check between test and production and save the changelog

prodList = lf.download_ala_list(prodListUrl)  # save the prod list to the historical lists directory
prodList = lf.kvp_to_columns(prodList)
prodList.to_csv(projectDir + "historical-lists/conservation/" + filename, encoding="UTF-8", index=False)
print('Finished downloading historical list')

In [ ]:
%%script echo skipping # comment this line to do a list check between test and production and save the changelog

# Sensitive
filename = "WA-sensitive.csv"
prodListUrl = "https://lists.ala.org.au/ws/speciesListItems/" + "dr467" + "?max=10000&includeKVP=true"
testListUrl = "https://lists-test.ala.org.au/ws/speciesListItems/" + "dr18406" + "?max=10000&includeKVP=true"
changelist = lf.get_changelist(testListUrl, prodListUrl )
# save the lists locally
changelist.to_csv(projectDir + "analysis/change-log/" + monthStr + "-" + filename, encoding="UTF-8", index=False)
print("sensitive changelist done")

### Download production lists to Historical lists directory

In [ ]:
%%script echo skipping # comment this line to save the prod list to the historical directory

prodListUrl = "https://lists.ala.org.au/ws/speciesListItems/" + "dr467" + "?max=10000&includeKVP=true"
prodList = lf.download_ala_list(prodListUrl) # save the prod list to the historical lists directory
prodList = lf.kvp_to_columns(prodList)
prodList.to_csv(projectDir + "historical-lists/sensitive/" + filename, encoding="UTF-8", index=False)