In [1]:
#import essential libraries
import pandas as pd

In [2]:
# top level directory
projectdir = "/Users/oco115/PycharmProjects/auth-lists-updates/"
basedir = "/Users/oco115/PycharmProjects/authoritative-lists/"

#Species List and Species codes URLS
# faunalisturl = "https://www.dpaw.wa.gov.au/images/documents/plants-animals/threatened-species/Listings/Threatened%20and%20Priority%20Fauna%20List.xlsx"
# floralisturl = "https://www.dpaw.wa.gov.au/images/documents/plants-animals/threatened-species/Listings/Threatened%20and%20Priority%20Flora%20List%205%20December%202018.xlsx"

faunafile = projectdir + "source-data/Threatened and Priority Fauna List.xlsx"
florafile = projectdir + "source-data/Threatened and Priority Flora List.xlsx"

In [3]:
print("Downloading WA Fauna List")
fauna = pd.read_excel(faunafile)
print("Finished Fauna download")
fauna

Downloading WA Fauna List
Finished Fauna download

,Scientific name,Common name,Class,WA Status \n(ranking),EPBC Status \n(ranking),Kimberley,Pilbara,Goldfields,Midwest,Wheatbelt,South Coast,Swan,South West,Warren,WA list name
0,Abebaioscia troglodytes,Pannikin Plain Cave isopod,INVERTEBRATE,VU,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,Vulnerable under the Biodiversity Conservation...
1,Acanthophis antarcticus,southern death adder,REPTILE,P3,NaN,NaN,NaN,X,NaN,X,X,X,NaN,NaN,Priority
2,Acercella poorginup,Poorginup Swamp watermite,INVERTEBRATE,P2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,Priority
3,Acizzia mccarthyi,McCarthy's plant-louse,INVERTEBRATE,VU,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,Vulnerable under the Biodiversity Conservation...
4,Acizzia veski,Vesk's plant-louse,INVERTEBRATE,VU,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,Vulnerable under the Biodiversity Conservation...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571,Zephyrarchaea mainae,Main's assassin spider,INVERTEBRATE,VU,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,X,Vulnerable under the Biodiversity Conservation...
572,Zephyrarchaea marki,Cape Le Grand assassin spider,INVERTEBRATE,VU,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,Vulnerable under the Biodiversity Conservation...
573,Zephyrarchaea melindae,Toolbrunup assassin spider,INVERTEBRATE,VU,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,Vulnerable under the Biodiversity Conservation...
574,Zephyrarchaea robinsi,eastern massif assassin spider,INVERTEBRATE,VU,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,Vulnerable under the Biodiversity Conservation...
575,Zyzomys pedunculatus,"central rock-rat, antina",MAMMAL,CR,CR,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Critically Endangered under the Biodiversity C...

In [27]:
fauna.columns

Index(['Scientific name', 'Common name', 'Class', 'WA Status \n(ranking)',
       'EPBC Status \n(ranking)', 'Kimberley', 'Pilbara', 'Goldfields',
       'Midwest', 'Wheatbelt', 'South Coast', 'Swan', 'South West', 'Warren',
       'WA list name'],
      dtype='object')

In [28]:
fauna = fauna.rename(columns=
{
    'Kimberley':'KIMB',
    'Pilbara':'PILB',
    'Goldfields':'GOLD',
    'Midwest': 'MWST',
    'Wheatbelt':'WHTB',
    'South Coast':'SCST',
    'Swan':'SWAN',
    'South West':'SWST',
    'Warren': 'WARR'
})
fauna.columns

Index(['Scientific name', 'Common name', 'Class', 'WA Status \n(ranking)',
       'EPBC Status \n(ranking)', 'KIMB', 'PILB', 'GOLD', 'MWST', 'WHTB',
       'SCST', 'SWAN', 'SWST', 'WARR', 'WA list name'],
      dtype='object')

In [14]:
print("Downloading WA Flora List")
flora = pd.read_excel(florafile,skiprows=1)
print("Finished Flora download")
flora

Downloading WA Flora List
Finished Flora download

,Name ID,Taxon,Status,Rank,IUCN Criteria,EPBC,DBCA Region,DBCA District,Distribution,Flowering Period,Recovery Plan
0,14112,Abutilon sp. Hamelin (A.M. Ashby 2196),2,NaN,NaN,NaN,MWST,SHARK BAY,"Shark Bay, Hamelin Pool, Yaringa Stn",Jul-Sep,NaN
1,14110,Abutilon sp. Onslow (F. Smith s.n. 10/9/61),1,NaN,NaN,NaN,PILB,KARRATHA,"Onslow, Yaraloola Stn",Sep,NaN
2,43021,Abutilon sp. Pritzelianum (S. van Leeuwen 5095),1,NaN,NaN,NaN,"MWST,PILB","KARRATHA,GERALDTON","Carnarvon, Port Headland, Lake McLeod","Jun, Aug-Sep",NaN
3,14114,Abutilon sp. Quobba (H. Demarz 3858),2,NaN,NaN,NaN,"MWST,PILB","EXMOUTH,GERALDTON,SHARK BAY","Quobba, Cape Range, Muggon Stn., Canarvon, Dor...",Jul-Oct,NaN
4,14155,Abutilon sp. Warburton (A.S. George 8164),1,NaN,NaN,NaN,GOLD,KALGOORLIE,Warburton,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3693,17481,Xyris maxima,2,NaN,NaN,NaN,SWST,BLACKWOOD,Witchcliffe,Nov-Jan,NaN
3694,7383,Zehneria mucronata,1,NaN,NaN,NaN,KIMB,EAST KIMBERLEY,"Mitchell Plateau, Cassini Is., Sale River",Jan,NaN
3695,29060,Zeuxine oblonga,2,NaN,NaN,NaN,KIMB,EAST KIMBERLEY,Kununurra,NaN,NaN
3696,36237,Zornia areolata,1,NaN,NaN,NaN,KIMB,EAST KIMBERLEY,Kununurra,NaN,NaN
3697,34478,Zornia sp. West Kimberley (C.A. Gardner 9942),3,NaN,NaN,NaN,KIMB,"EAST KIMBERLEY,WEST KIMBERLEY","Gibb River Stn., Mt Elizabeth Stn., Beverley S...",NaN,NaN

In [30]:
flora.columns

KeyError: 0

In [38]:
# https://stackoverflow.com/questions/50789880/how-to-get-the-column-name-in-pandas-based-on-row-values
import numpy as np
df = fauna[['KIMB', 'PILB', 'GOLD',
       'MWST', 'WHTB', 'SCST', 'SWAN', 'SWST', 'WARR']].copy()
# v = np.argwhere(df.values).T
v = np.where(df =="X")
xx = (pd.DataFrame(
       df.columns[v[1]], index=df.index[v[0]], columns=['result']
   ).groupby(level=0).agg(','.join).reindex(df.index)
)
# df2
xx
# df

                  result
0                   SCST
1    GOLD,WHTB,SCST,SWAN
2                   WARR
3                   SCST
4                   SCST
..                   ...
571            SCST,WARR
572                 SCST
573                 SCST
574                 SCST
575                 PILB

[576 rows x 1 columns]

In [4]:
fauna

,Scientific name,Common name,Class,WA Status \n(ranking),EPBC Status \n(ranking),Kimberley,Pilbara,Goldfields,Midwest,Wheatbelt,South Coast,Swan,South West,Warren,WA list name
0,Abebaioscia troglodytes,Pannikin Plain Cave isopod,INVERTEBRATE,VU,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,Vulnerable under the Biodiversity Conservation...
1,Acanthophis antarcticus,southern death adder,REPTILE,P3,NaN,NaN,NaN,X,NaN,X,X,X,NaN,NaN,Priority
2,Acercella poorginup,Poorginup Swamp watermite,INVERTEBRATE,P2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,Priority
3,Acizzia mccarthyi,McCarthy's plant-louse,INVERTEBRATE,VU,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,Vulnerable under the Biodiversity Conservation...
4,Acizzia veski,Vesk's plant-louse,INVERTEBRATE,VU,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,Vulnerable under the Biodiversity Conservation...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571,Zephyrarchaea mainae,Main's assassin spider,INVERTEBRATE,VU,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,X,Vulnerable under the Biodiversity Conservation...
572,Zephyrarchaea marki,Cape Le Grand assassin spider,INVERTEBRATE,VU,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,Vulnerable under the Biodiversity Conservation...
573,Zephyrarchaea melindae,Toolbrunup assassin spider,INVERTEBRATE,VU,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,Vulnerable under the Biodiversity Conservation...
574,Zephyrarchaea robinsi,eastern massif assassin spider,INVERTEBRATE,VU,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,Vulnerable under the Biodiversity Conservation...
575,Zyzomys pedunculatus,"central rock-rat, antina",MAMMAL,CR,CR,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Critically Endangered under the Biodiversity C...

In [ ]:

# update the encoding on the final file / conservation is same as sensitive
fileurl = "/Users/new330/IdeaProjects/authoritative-lists/current-lists/sensitive-lists/WA-sensitive.csv"
wa = pd.read_csv(fileurl,encoding='cp1252')
wa.to_csv(fileurl, encoding="UTF-8",index=False)
wa.to_csv("/Users/new330/IdeaProjects/authoritative-lists/current-lists/conservation-lists/WA-conservation.csv", encoding="UTF-8",index=False)

wa = wa.WATaxonId.astype(int)
wa