# Report SDS Metadata and record counts

This notebook d

In [1]:
##############################################################################################
#
# SDS List Information Report
# Extract SDS Information for each state
# Output report
# Output information files to : ..\authoritative-lists\analysis\reports
##############################################################################################
#
import sys
import os
import urllib.request
import json
import certifi
import ssl
import datetime
import pandas as pd

projectdir = "/Users/oco115/PycharmProjects/authoritative-lists/"
outdir = projectdir + "Monitoring/"
sys.path.append(os.path.abspath(projectdir + "source-code/includes"))
import list_functions as lf
import configuration as cfg
monthStr = datetime.datetime.now().strftime('%Y%m%d')

In [13]:
# species group count
def download_url(url: str):
    print("download from: ", url)
    with urllib.request.urlopen(url, context=ssl.create_default_context(cafile=certifi.where())) as url:
        if url.status == 200:
            data = json.loads(url.read().decode())
            data = pd.json_normalize(data)

        else:
            # Handle the error
            print('Error in download_ala_list:', url.status)
    return data
urlsct = 'https://api.ala.org.au/occurrences/occurrences/facets?q=species_list_uid%3Adr2627&facets=species&flimit=1000'
q=species_list_uid%3Adr2627&qualityProfile=ALA

In [14]:
sdata = download_url(urlsct)
sdata

download from:  https://api.ala.org.au/occurrences/occurrences/facets?q=species_list_uid%3Adr487&facets=species

  fieldName                                        fieldResult  count
0   species  [{'label': 'Callocephalon fimbriatum', 'i18nCo...    196

In [9]:
spCt = sdata['count'][0]

In [53]:
# Species data count info
sdata

              name     count  speciesCount  level
0      ALL_SPECIES  59901282        139228      0
1          Animals  47977452         81821      1
2          Mammals   2604795           599      2
3            Birds  38536636          1934      2
4         Reptiles    879198          1242      2
5       Amphibians    721921           249      2
6           Fishes   2043524          5292      2
7         Molluscs    507830          9896      2
8       Arthropods   2390775         52013      2
9      Crustaceans    345302          7822      3
10         Insects   1900310         37832      3
11          Plants  11292812         42060      1
12      Bryophytes         0             0      2
13     Gymnosperms     66266           464      2
14  FernsAndAllies    325691           878      2
15     Angiosperms  10616921         36109      2
16        Monocots   3392268          7399      3
17          Dicots   7224653         29010      3
18           Fungi    340603         14456      1
19       Chromista    266788          1245      1
20        Protozoa        42             9      1
21        Bacteria      3411           484      1
22           Algae    360836          2400      1

In [44]:
# Summary data for list
cols = ['State', 'ListID', 'Generalised', 'Already Generalised', ' Not Supplied', 'Total Occurrences', 'Total Species']
values = [['ACT', 'dr2627', genCt, aGenCt, nsCt, totCt, spCt]]
summarydf = pd.DataFrame(columns=cols)
# summarydf = pd.DataFrame(values, columns=cols)
summarydf = summarydf.append(pd.DataFrame(values, columns=column_headers), ignore_index=True)
summarydf

,State,ListID,Generalised,Already Generalised,Not Supplied,Total Occurrences,Total Species
0,ACT,dr2627,125215,70871,740199,196086,139037