# Migratory Bird Agreements
These lists are downloaded from the [Species Profile and Threats Database](http://www.environment.gov.au/cgi-bin/sprat/public/sprat.pl) (SPRAT) database.

See this link for further information: http://www.environment.gov.au/cgi-bin/sprat/public/publicshowmigratory.pl

## Bonn Convention
This list is comprised of migratory species which are native to Australia and are included in the appendices to the Bonn Convention (Convention on the Conservation of Migratory Species of Wild Animals Appendices I and II).

The Bonn Convention appendices identify migratory taxa at and below the species level, as well as some whole families in Appendix II. The convention definition of migratory species is ‘the entire population or any geographically separate part of the population of any species or lower taxon of wild animals, a significant proportion of whose members cyclically and predictably cross one or more national jurisdictional boundaries’. This definition has been adopted in the EPBC Act.

The family listings in Appendix II of the Bonn Convention do not explicitly include all members of each family and, for the purposes of the EPBC Act, the family listings include only those species which are native to Australia and are known to be cyclical and predictable migrants into and out of Australia. The taxonomy of families used in the Bonn Convention appendices is not regularly updated.

The following codes are used in the Bonn Convention appendices:

A1: species listed explicitly in Appendix 1;
A2S: species listed explicitly in Appendix 2;
A2H: species is member of a family listed in Appendix 2; and
A2S*: species listed as a result of a recent taxonomic revision of a species listed explicitly in Appendix 2.

This list is comprised of migratory species which are native to Australia and are included in the appendices to the Bonn Convention (Convention on the Conservation of Migratory Species of Wild Animals Appendices I and II);

## JAMBA, CAMBA, and ROKAMBA

These lists of migratory species established under section 209 of the EPBC Act include:

* migratory species included in annexes established under the [Japan-Australia Migratory Bird Agreement](http://www.austlii.edu.au/au/other/dfat/treaties/1981/6.html) (JAMBA) and the [China-Australia Migratory Bird Agreement](http://www.austlii.edu.au/au/other/dfat/treaties/1988/22.html) (CAMBA);
* native, migratory species identified in a list established under, or an instrument made under, an international agreement approved by the Minister, such as the [Republic of Korea-Australia Migratory Bird Agreement](http://www.austlii.edu.au/au/other/dfat/treaties/2007/24.html) (ROKAMBA).

In [1]:
import pandas as pd

projectDir = "/Users/new330/IdeaProjects/authoritative-lists/"
processedDataDir = projectDir + "current-lists/conservation-lists/"

In [2]:
epbcreport = pd.read_csv(projectDir + "source-data/EPBCA/10052022-123645-report.csv",skiprows=1)
epbcreport.head()

,Taxon ID,Scientific Name,Common Name,EPBC Threat Status,EPBC Threatened Species Listed Name,EPBC Threatened Species Date Effective,EPBC Act Migratory,Bonn,Listed Name Bonn,CAMBA,...,Ashmore and Cartier Islands,Cocos (Keeling) Islands,Christmas Island,Coral Sea Islands,Jervis Bay Territory,Norfolk Island,Heard and McDonald Islands,Australian Antarctic Territory,Commonwealth Marine Area,Unnamed: 65
0,66785,Abebaioscia troglodytes,Pannikin Plains Cave Isopod,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5547,Abelmoschus ficulneus,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,92009,Abrodictyum caudatum,Jungle Bristle-fern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18340,Abrotanella nivigena,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,81927,Abudefduf bengalensis,Bengal sergeant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
epbcreport = epbcreport.rename(columns=
{
    'Taxon ID':'taxonID',
    'TaxonGroup':'taxonRemarks',
    'Scientific Name':'scientificName',
    'Common Name':'vernacularName',
    'EPBC Threat Status':'status',
    'IUCN Red List': 'iucn Red List',
    'IUCN Red List Listed Names' : 'iucn Red List Listed Names',
    'CAMBA': 'Camba',
    'JAMBA': 'Jamba',
    'ROKAMBA': 'Rokamba',
    'Kingdom':'kingdom',
    'Phylum':'phylum',
    'Class': 'class',
    'Order': 'order',
    'Family': 'family',
    'Genus': 'genus'
})
epbcreport=epbcreport.drop(['Unnamed: 65',
                            'Listed Name Bonn', 'Listed Name Camba',
                            'Listed Name Jamba', 'Listed Name Rokamba',
                            'ACT NC Act', 'Listed Name', 'NSW TSC Act and FM Act', 'Listed Name.1',
                            'NT TPWC Act', 'Listed Name.2', 'Qld NC Act', 'Listed Name.3',
                            'SA NPW Act', 'Listed Name.4', 'Tas. TSP Act', 'Listed Name.5',
                            'Vic. FFG Act (Advisory Lists)', 'Listed Name.6', 'WA WC Act',
                            'Listed Name.7',
                            ],axis=1)
epbcreport.columns = epbcreport.columns.str.replace("  ", "", regex=True) # remove multiple spacesfrom column names
epbcreport.columns = epbcreport.columns.str.replace(r"[().: ]", " ", regex=True) # remove : () from column names
epbcreport.columns = epbcreport.columns.str.replace("EPBC","", regex=True)
epbcreport.columns = epbcreport.columns.str.replace("FPAL","", regex=True)
epbcreport.columns = epbcreport.columns.str.strip()
epbcreport.head()

,taxonID,scientificName,vernacularName,status,Threatened Species Listed Name,Threatened Species Date Effective,Act Migratory,Bonn,Camba,Jamba,...,Western Australia,Ashmore and Cartier Islands,Cocos Keeling Islands,Christmas Island,Coral Sea Islands,Jervis Bay Territory,Norfolk Island,Heard and McDonald Islands,Australian Antarctic Territory,Commonwealth Marine Area
0,66785,Abebaioscia troglodytes,Pannikin Plains Cave Isopod,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Present,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5547,Abelmoschus ficulneus,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,92009,Abrodictyum caudatum,Jungle Bristle-fern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18340,Abrotanella nivigena,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,81927,Abudefduf bengalensis,Bengal sergeant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
epbcreport.loc[epbcreport["Bonn"].notna(),['status','sourceStatus']] = "Listed"
bonn = epbcreport.loc[epbcreport["Bonn"].notna()]
bonn

,taxonID,scientificName,vernacularName,status,Threatened Species Listed Name,Threatened Species Date Effective,Act Migratory,Bonn,Camba,Jamba,...,Ashmore and Cartier Islands,Cocos Keeling Islands,Christmas Island,Coral Sea Islands,Jervis Bay Territory,Norfolk Island,Heard and McDonald Islands,Australian Antarctic Territory,Commonwealth Marine Area,sourceStatus
586,59570,Acrocephalus orientalis,Oriental Reed-Warbler,Listed,NaN,NaN,Listed,B2C,Listed,Listed,...,Present,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listed
726,59309,Actitis hypoleucos,Common Sandpiper,Listed,NaN,NaN,Listed,B2C,Listed,Listed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listed
1158,68448,Anoxypristis cuspidata,"Narrow Sawfish, Knifetooth Sawfish",Listed,NaN,NaN,Listed,"B1, B2",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listed
1311,872,Arenaria interpres,Ruddy Turnstone,Listed,NaN,NaN,Listed,B2C,Listed,Listed,...,NaN,NaN,NaN,Present,NaN,NaN,NaN,NaN,Present,Listed
1630,67812,Balaenoptera bonaerensis,"Antarctic Minke Whale, Dark-shoulder Minke Whale",Listed,NaN,NaN,Listed,B2,NaN,NaN,...,Present,Present,Present,Present,NaN,Present,Present,Present,Present,Listed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12738,832,Tringa nebularia,"Common Greenshank, Greenshank",Listed,NaN,NaN,Listed,B2C,Listed,Listed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listed
12740,833,Tringa stagnatilis,"Marsh Sandpiper, Little Greenshank",Listed,NaN,NaN,Listed,B2C,Listed,Listed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listed
12741,835,Tringa totanus,"Common Redshank, Redshank",Listed,NaN,NaN,Listed,B2C,Listed,Listed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listed
12825,78900,Tursiops aduncus (Arafura/Timor Sea populations),Spotted Bottlenose Dolphin (Arafura/Timor Sea ...,Listed,NaN,NaN,Listed,B2,NaN,NaN,...,Present,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Present,Listed
13252,59300,Xenus cinereus,Terek Sandpiper,Listed,NaN,NaN,Listed,B2C,Listed,Listed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listed

In [5]:
epbcreport.loc[epbcreport["Camba"]=="Listed",['status','sourceStatus']] = "Listed"
camba = epbcreport.loc[epbcreport["Camba"]=="Listed"]
camba

,taxonID,scientificName,vernacularName,status,Threatened Species Listed Name,Threatened Species Date Effective,Act Migratory,Bonn,Camba,Jamba,...,Ashmore and Cartier Islands,Cocos Keeling Islands,Christmas Island,Coral Sea Islands,Jervis Bay Territory,Norfolk Island,Heard and McDonald Islands,Australian Antarctic Territory,Commonwealth Marine Area,sourceStatus
586,59570,Acrocephalus orientalis,Oriental Reed-Warbler,Listed,NaN,NaN,Listed,B2C,Listed,Listed,...,Present,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listed
726,59309,Actitis hypoleucos,Common Sandpiper,Listed,NaN,NaN,Listed,B2C,Listed,Listed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listed
1155,825,Anous stolidus,Common Noddy,Listed,NaN,NaN,Listed,NaN,Listed,Listed,...,Present,NaN,NaN,Present,NaN,NaN,NaN,NaN,Present,Listed
1262,678,Apus pacificus,Fork-tailed Swift,Listed,NaN,NaN,Listed,NaN,Listed,Listed,...,NaN,NaN,NaN,NaN,Present,NaN,NaN,NaN,Present,Listed
1307,82652,Ardenna tenuirostris,Short-tailed Shearwater,Listed,NaN,NaN,Listed,NaN,Listed,Listed,...,NaN,NaN,NaN,NaN,Present,NaN,NaN,NaN,Present,Listed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12736,829,Tringa glareola,Wood Sandpiper,Listed,NaN,NaN,Listed,B2C,Listed,Listed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listed
12738,832,Tringa nebularia,"Common Greenshank, Greenshank",Listed,NaN,NaN,Listed,B2C,Listed,Listed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listed
12740,833,Tringa stagnatilis,"Marsh Sandpiper, Little Greenshank",Listed,NaN,NaN,Listed,B2C,Listed,Listed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listed
12741,835,Tringa totanus,"Common Redshank, Redshank",Listed,NaN,NaN,Listed,B2C,Listed,Listed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listed
13252,59300,Xenus cinereus,Terek Sandpiper,Listed,NaN,NaN,Listed,B2C,Listed,Listed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listed

In [6]:
# set the status and sourceStatus values to Listed
epbcreport.loc[epbcreport["Bonn"].notna(),['status','sourceStatus']] = "Listed"
epbcreport.loc[epbcreport["Camba"]=="Listed",['status','sourceStatus']] = "Listed"
epbcreport.loc[epbcreport["Jamba"]=="Listed",['status','sourceStatus']] = "Listed"
epbcreport.loc[epbcreport["Rokamba"]=="Listed",['status','sourceStatus']] = "Listed"

# create each separate list
bonn = epbcreport.loc[epbcreport["Bonn"].notna()]
camba = epbcreport.loc[epbcreport["Camba"]=="Listed"]
jamba = epbcreport.loc[epbcreport["Jamba"]=="Listed"]
rokamba = epbcreport.loc[epbcreport["Rokamba"]=="Listed"]

# save to file
bonn.to_csv(processedDataDir + "BONN-conservation.csv",index=False)
camba.to_csv(processedDataDir + "CAMBA-conservation.csv",index=False)
jamba.to_csv(processedDataDir + "JAMBA-conservation.csv",index=False)
rokamba.to_csv(processedDataDir + "ROKAMBA-conservation.csv",index=False)

## Record counts

In [7]:
table = [["Bonn", len(bonn)]
        ,["CAMBA", len(camba)]
        ,["JAMBA", len(jamba)]
        ,["ROKAMBA",len(rokamba)]]
pd.DataFrame(table, columns=["List","Record Count"])

      List  Record Count
0     Bonn           116
1    CAMBA            63
2    JAMBA            74
3  ROKAMBA            56