# Report SDS Metadata and record counts

This notebook d

In [1]:
##############################################################################################
#
# SDS List Information Report
# Extract SDS Information for each state
# Output report
# Output information files to : ..\authoritative-lists\analysis\reports
##############################################################################################
#
import sys
import os
import urllib.request
import json
import certifi
import ssl
import datetime
import pandas as pd

projectdir = "/Users/oco115/PycharmProjects/authoritative-lists/"
outdir = projectdir + "Monitoring/"
sys.path.append(os.path.abspath(projectdir + "source-code/includes"))
import list_functions as lf
import configuration as cfg
monthStr = datetime.datetime.now().strftime('%Y%m%d')

### Download from URL function definition

In [28]:
def download_url(url: str):
    print("download from: ", url)
    with urllib.request.urlopen(url, context=ssl.create_default_context(cafile=certifi.where())) as url:
        if url.status == 200:
            data = json.loads(url.read().decode())
            data = pd.json_normalize(data)

        else:
            # Handle the error
            print('Error in download_ala_list:', url.status)
    return data

In [ ]:
# Need State and List UID
# Generalised count
urlgen = 'https://api.ala.org.au/occurrences/occurrences/search?q=species_list_uid%3Adr2627&fq=sensitive%3Ageneralised&im=false'
data = download_url(urlgen)
genCt = data['totalRecords'][0]

# Already Generalised
urlagen = 'https://api.ala.org.au/occurrences/occurrences/search?q=species_list_uid%3Adr2627&fq=sensitive%3AalreadyGeneralised&im=false'
data = download_url(urlagen)
aGenCt = data['totalRecords'][0]

# Not supplied
urlns = 'https://api.ala.org.au/occurrences/occurrences/search?q=species_list_uid%3Adr2627&&fq=-sensitive%3A*'
data = download_url(urlns)
nsCt = data['totalRecords'][0]

totCt= genCt + aGenCt

# Returns pecies in the Species list
# urlgen = 'https://api.ala.org.au/specieslist/ws/queryListItemOrKVP?druid=dr2627&fields=fields%3Dspecies'

In [50]:

# species group count
urlsct = 'https://api.ala.org.au/occurrences/explore/groups?q=q%3Dspecies_list_uid%253Adr2627&fq=fq%3Dsensitive%253AalreadyGeneralised%26im%3Dfalse'
sdata = download_url(urlsct)
spCt = sdata['speciesCount'][0]

download from:  https://api.ala.org.au/occurrences/explore/groups?q=q%3Dspecies_list_uid%253Adr2627&fq=fq%3Dsensitive

In [51]:
# Species data count info
sdata

              name  count  speciesCount  level
0      ALL_SPECIES   8789            81      0
1          Animals     68            55      1
2          Mammals      6             5      2
3            Birds     48            37      2
4         Reptiles      6             6      2
5       Amphibians      0             0      2
6           Fishes      4             3      2
7         Molluscs      0             0      2
8       Arthropods      0             0      2
9      Crustaceans      0             0      3
10         Insects      0             0      3
11          Plants   8721            26      1
12      Bryophytes      0             0      2
13     Gymnosperms      3             1      2
14  FernsAndAllies      0             0      2
15     Angiosperms   8718            25      2
16        Monocots      3             3      3
17          Dicots   8715            22      3
18           Fungi      0             0      1
19       Chromista      0             0      1
20        Protozoa      0             0      1
21        Bacteria      0             0      1
22           Algae      0             0      1

In [44]:
# Summary data for list
cols = ['State', 'ListID', 'Generalised', 'Already Generalised', ' Not Supplied', 'Total Occurrences', 'Total Species']
values = [['ACT', 'dr2627', genCt, aGenCt, nsCt, totCt, spCt]]
summarydf = pd.DataFrame(columns=cols)
# summarydf = pd.DataFrame(values, columns=cols)
summarydf = summarydf.append(pd.DataFrame(values, columns=column_headers), ignore_index=True)
summarydf

,State,ListID,Generalised,Already Generalised,Not Supplied,Total Occurrences,Total Species
0,ACT,dr2627,125215,70871,740199,196086,139037