# NT Conservation List

## List Identifiers
* Conservation list: __[dr651](https://lists.ala.org.au/speciesListItem/list/dr651)__ (and [dr651 in test](https://lists-test.ala.org.au/speciesListItem/list/dr651))
* Collection: __[dr651](https://collections.ala.org.au/public/show/dr651)__

## Source Data
*  __[Home Page](https://nt.gov.au/environment)__
*  __[Fauna](https://nt.gov.au/environment/animals/threatened-animals)__
*  __[Flora](https://nt.gov.au/environment/native-plants/threatened-plants)__

**Note:** Data was manually copied from website. No API or files available for download. No indication of where to obtain Sensitive list data.

**Metadata Description**
Classification codes under the Territory Parks and Wildlife Conservation Act: Extinct in the Wild Critically Endangered Endangered Vulnerable Near threatened Data
deficient.

Learn more about the classifications used by the Department of Natural Resources, Environment, the Arts and Sports.

**Note:** Under the Northern Territory Department of Environment and Natural Resources Sensitive Flora and Fauna Data Policy, there are currently no flora records classified as sensitive

**Metadata URL**
https://nt.gov.au/environment

Import libraries

In [19]:
import pandas as pd
import datetime
import sys
import os

projectDir = "/Users/oco115/PycharmProjects/authoritative-lists/"
sourcedir = "source-data/NT/"
statusDir = projectDir + "source-data/status-codes/"
cdataDir = "current-lists/conservation-lists/"
monthStr = datetime.datetime.now().strftime('%Y%m')

sys.path.append(os.path.abspath(projectDir + "source-code/includes"))
import list_functions as lf

## Process Flora

In [8]:
# flora = pd.read_excel(projectDir + sourcedir + "ntConservationStatusList-Plants.xlsx")
flora = pd.read_csv(projectDir + sourcedir + "ntConservationStatusList-Plants.csv")
flora = flora.rename(columns={"Scientific name": "scientificName", "Status": "status"})
flora = flora[((flora['status'].notna()))]
flora = flora[flora['status'] != 'Listed nationally but not under NT legislation']
flora['sourceStatus'] = flora['status']
flora

,Plant family,scientificName,status,sourceStatus
0,Hymenophyllaceae,Abrodictyum obscurum,Endangered,Endangered
1,Fabaceae,Acacia equisetifolia,Critically endangered,Critically endangered
2,Fabaceae,Acacia latzii,Vulnerable,Vulnerable
3,Fabaceae,Acacia peuce,Endangered,Endangered
5,Fabaceae,Acacia praetermissa,Vulnerable,Vulnerable
...,...,...,...,...
79,Araceae,Typhonium taylori,Endangered,Endangered
80,Lentibulariaceae,Utricularia dunstaniae,Vulnerable,Vulnerable
81,Lentibulariaceae,Utricularia singeriana,Vulnerable,Vulnerable
82,Annonaceae,Xylopia monosperma,Endangered,Endangered
83,Orchidaceae,Zeuxine oblonga,Vulnerable,Vulnerable

In [9]:
flora['status'].unique()

array(['Endangered', 'Critically endangered', 'Vulnerable'], dtype=object)

In [10]:
flora = flora.loc[:, ['scientificName',  'status', 'sourceStatus']]

In [11]:
flora

            scientificName                 status           sourceStatus
0     Abrodictyum obscurum             Endangered             Endangered
1     Acacia equisetifolia  Critically endangered  Critically endangered
2            Acacia latzii             Vulnerable             Vulnerable
3             Acacia peuce             Endangered             Endangered
5      Acacia praetermissa             Vulnerable             Vulnerable
..                     ...                    ...                    ...
79       Typhonium taylori             Endangered             Endangered
80  Utricularia dunstaniae             Vulnerable             Vulnerable
81  Utricularia singeriana             Vulnerable             Vulnerable
82      Xylopia monosperma             Endangered             Endangered
83         Zeuxine oblonga             Vulnerable             Vulnerable

[78 rows x 3 columns]

## Process Fauna

In [12]:
# fauna = pd.read_excel(projectDir + sourcedir + "ntConservationStatusList-Animals.xlsx")
fauna = pd.read_csv(projectDir + sourcedir + "ntConservationStatusList-Animals.csv")

In [13]:
fauna

,Common name,Scientific name,Status,Animal Group
0,Abbot's booby,Papasula abbotti,Endangered,Bird
1,Alice Springs squat snail,Semotrachia euzyga,Endangered,Invertebrate
2,Angalarri grunter,Scortum neili,Vulnerable,Fish
3,Arafura snake-eyed skink,Cryptoblepharus gurrmul,Endangered,Reptile
4,Arnhem land gorges skink,Bellatorias obiri,Endangered,Reptile
...,...,...,...,...
136,Whale shark,Rhincodon typus,Listed nationally but not under NT legislation,Fish
137,White-throated grasswren,Amytornis woodwardi,Vulnerable,Bird
138,Yellow chat (Alligator Rivers),Epthianura crocea tunneyi,Endangered,Bird
139,Yellow-snouted ground gecko,Lucasium occultum,Vulnerable,Reptile
140,Yellow-spotted monitor,Varanus panoptes,Vulnerable,Reptile

In [14]:
fauna = fauna.rename(columns={"Common name": "vernacularName", "Scientific name": "scientificName", "Status": "status"})
fauna['sourceStatus'] = fauna['status']
fauna['status'].unique()
# Remove Least concern and not under NT legislation fauna
fauna = fauna[~fauna['status'].str.contains('Least concern|not under NT legislation', case=False)]
rstrings = {
    '(extinct in the wild in NT)': '',
    '(extinct in NT)': ''
}
fauna['status'] = fauna['status'].str.replace('(extinct in the wild in NT)', '', regex=False)
fauna['status'] = fauna['status'].str.replace('(extinct in wild in NT)', '', regex=False)
fauna['status'] = fauna['status'].str.replace('(extinct in NT)', '', regex=False)
fauna['status'] = fauna['status'].str.replace('(possibly extinct)', '', regex=False)
fauna['status'] = fauna['status'].str.strip()

In [15]:
fauna['status'].unique()

array(['Endangered', 'Vulnerable', 'Critically endangered', 'Extinct'],
      dtype=object)

In [16]:
fauna = fauna.loc[:, ['scientificName', 'status', 'sourceStatus']]

### Concatenate Fauna and Flora, remove line breaks in scientific names

In [17]:
result = pd.concat([flora, fauna])
result['scientificName'] = result['scientificName'].replace(r'\n', '', regex=True)
result

,scientificName,status,sourceStatus
0,Abrodictyum obscurum,Endangered,Endangered
1,Acacia equisetifolia,Critically endangered,Critically endangered
2,Acacia latzii,Vulnerable,Vulnerable
3,Acacia peuce,Endangered,Endangered
5,Acacia praetermissa,Vulnerable,Vulnerable
...,...,...,...
135,Dasyurus geoffroii,Vulnerable,Vulnerable (extinct in NT)
137,Amytornis woodwardi,Vulnerable,Vulnerable
138,Epthianura crocea tunneyi,Endangered,Endangered
139,Lucasium occultum,Vulnerable,Vulnerable
140,Varanus panoptes,Vulnerable,Vulnerable

### Write dataframe to CSV - UTF-8 encoding

In [ ]:
result.to_csv(projectDir + cdataDir + 'NT-Conservation-20230601.csv',  encoding="UTF-8-sig",index = False)
print("Finished writing NT conservation listt")

In [ ]:
### Change logs

In [ ]:
ltype = "C"
changeDir = "Monitoring/Change-logs/"
# NT Conservation
print('NT conservation')
filename = "NT-conservation.csv"
testdr = "dr651"
proddr = "dr651"
changelist = lf.get_changelist(testdr, proddr, ltype)
changelist.to_csv(projectDir + changeDir + monthStr + "-" + filename, encoding="UTF-8", index=False)
print('Finished NT conservation')

In [ ]:
# Download historical lists from Production
prodListUrl = "https://lists.ala.org.au/ws/speciesListItems/" + proddr + "?max=10000&includeKVP=true"
prodList = lf.download_ala_specieslist(prodListUrl)  # save the prod list to the historical lists directory
prodList = lf.kvp_to_columns(prodList)
prodList.to_csv(projectDir + "historical-lists/conservation/" + filename, encoding="UTF-8", index=False)
print('Finished downloading conservation historical list')